[2018-08-02 20:22] kristerkari opened #1 "Support .svg file extension instead of using a custom .svgx file extension"
Currently `.svgx` file extensions is used to workaround an issue with SVG files not running through the transformer function in React Native.

This apparently needs some fixes to React Native and Metro bundler:
https://github.com/facebook/metro/issues/176#issuecomment-393202582

[2018-09-11 19:31] kristerkari commented on #1
This issue seems to be fixed when React Native 0.57 is released:
https://github.com/kristerkari/react-native-svg-example/pull/1

[2018-09-13 20:09] #1 closed

[2018-11-24 16:32] XenorPLxx opened #3 "0.12.0 - application freezes while rendering SVG"
Hey,

Thanks for great work on the svg-transformer!

After upgrade from 0.11.3 to 0.12.0 my application freezes when I'm navigating to screen, that contains imported SVG.

Tested on React Native 0.57.5.

Example SVG, that app freezes on, below:

[code]

[2018-11-25 20:14] kristerkari commented on #3
Thanks! I switched to using SVGR in the latest version, so maybe there is a bug.

I’ll investigate using the svg that you provided.

[2018-11-26 03:01] kristerkari commented on #3
I tested your svg and it is working for me on Android. I don't have access to a Mac currently, so I can not test if it works on iOS.

Does the image crash the app on both iOS and Android, or just iOS? Would it be possible for you to provide the code that you use in addition to the svg image?

[2018-11-26 09:40] XenorPLxx commented on #3
I've investigated further by creating simple example app https://github.com/XenorPLxx/svg-transformer-test and it works here on both iOS and Android.

Sadly, I can't share code of the problematic app, but I'll investigate further and try to find out what exactly causes this issue to pop up.

I'll let you know when I'll find something.

[2018-11-26 14:46] kristerkari commented on #3
Thanks for having a look at the issue! Are you using the latest version of `react-native-svg` in your project? Also check that you have purged all caches (npm included) for the app when you are running it.

[2018-11-27 15:06] XenorPLxx commented on #3
Hello again!

I've managed to reproduce error.
I've had some more icons in my tab bar navigation that I've forgot about and it seems these are causing problems. These are just regular FontAwesome5 icons wrapped in some gradient.

Here's example that doesn't work on both iOS and Android:
https://github.com/XenorPLxx/svg-transformer-test/commit/958c16fbf6cdcdaae40a5c42de146d8d4c968f4e

[2018-11-27 19:10] kristerkari commented on #3
Okay, with that svg image I can reproduce the bug. Seems to be something related to the `font-family`, `font-size`, etc. attributes on the `g` element that causes it to crash.

I need to check how to fix this later, but for now you can use v0.11.3.

[2018-11-27 19:31] XenorPLxx commented on #3
I don't really need those tags, it's just a result of dirty copy from Sketch. If it's only these that cause problems then I'll remove them and upgrade to 0.12.0 :). Thanks!

[2018-11-28 18:20] kristerkari commented on #3
I think that I managed to find the bug that causes the crash. I have posted a new issue to SVGR's repo:
https://github.com/smooth-code/svgr/issues/243

Let's wait and see what the response is.

[2018-11-29 19:45] kristerkari commented on #3
I made another PR, this time to `react-native-svg` to get the bug fixed:
https://github.com/react-native-community/react-native-svg/pull/860

[2019-01-31 15:01] michellevey opened #5 "Configuring with Haul for RN and RNW support?"
Is it possible to use this with Haul.config? We are using https://github.com/callstack/haul, but I can't find out how to configure to support the transformer. Has anyone done this already and could share the setup?
Also, an this be used with RNW? Any webpack configuration advice?

Thanks,
Michelle

[2019-01-31 23:00] kristerkari commented on #5
Hi Michelle!

I haven't used Haul, so I'm not sure about the compatibility. I can try it out and see if I can get it to work.

This library is compatible with React-Native-Web. Instead of using this transformer for Web you should use Webpack (or some other bundler) + SVGR.

Have a look at the example app that runs on Android, iOS, and Web:
https://github.com/kristerkari/react-native-svg-example

H

[2019-02-04 02:55] kristerkari commented on #5
I quickly browsed through documentation and issues for Haul and it seems like it does not have support/compatibility with React Native's Metro bundler.

Which means that it looks like there is no support for running this transformer with Haul. I'm not 100% sure as I haven't actually tried Haul. It seems like you can create plugins for haul, so I guess that creating a new plugin that does the same

[2019-02-04 14:04] GammelBro opened #6 "Can't import svgs"
If I want to import my svg like `import Star from '../../assets/svgs/pinnedStar.svg';`
I get this error

`Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: number.`

my rn-cli.config.js:
[code]

[2019-02-04 18:02] michellevey commented on #5
Thanks!

[2019-02-16 15:14] kristerkari commented on #6
This has been inactive for quite a while, so I guess that the problem got solved.

[2019-02-16 15:14] #6 closed

[2019-02-21 19:15] LeonardoBurrone opened #7 "[QUESTION] Is it possible to change "fill" property of a "Path" inside?"
Hi. I was wondering if it'd be possible to change "fill" property of a svg. I have the following svg:

[code]

I've imported this svg and changed its width and height:

[code]

Is it possible to change the "fill" property of the "path" with id="path-2" without changing svg file?

Thank you.

[2019-02-22 08:48] kristerkari commented on #7
Thanks @LeonardoBurrone !

Currently that is not possible, but I'm open for ideas to make that possible.

One suggested solution is in this pull request:
https://github.com/kristerkari/react-native-svg-transformer/pull/4

I'm however not that keen on adding it, because it requires another file to be used just to support the color change.

[2019-03-02 03:02] dayaki commented on #6
Am having same error using RN 0.58, I created the `metro.config.js` and add the content `const { getDefaultConfig } = require("metro-config");

module.exports = (async () => {
  const {
    resolver: { sourceExts, assetExts }
  } = await getDefaultConfig();
  return {
    transformer: {
      babelTransformerPath: require.resolve("react-native-svg-transformer")
    },
    resolver: {
      assetEx

[2019-03-02 07:57] kristerkari commented on #6
@dayaki Can you post your config here or somewhere where I can see it?

[2019-03-02 08:32] kristerkari commented on #6
@dayaki also, have a look at the example app to see how the transformer is used there: https://github.com/kristerkari/react-native-svg-example

[2019-03-02 12:28] dayaki commented on #6
@kristerkari this is the content of my metro.config.js file
`
const { getDefaultConfig } = require("metro-config");

module.exports = (async () => {
  const {
    resolver: { sourceExts, assetExts }
  } = await getDefaultConfig();
  return {
    transformer: {
      babelTransformerPath: require.resolve("react-native-svg-transformer")
    },
    resolver: {
      assetExts: assetExts.filter(ext =>

[2019-03-02 13:56] kristerkari commented on #6
@dayaki The`webpack.config.js` is only used to render the same code for Web.

Your config looks fine, so the issue is probably somewhere else.

[2019-03-02 22:58] dayaki commented on #6
I started a new RN app and it worked out of the box. Thanks

[2019-03-02 23:10] kristerkari commented on #6
Good that you got your problem solved 👍  Let me know if you run into any other issues.

[2019-03-10 15:08] ithustle opened #8 "Invariant Violation: View config not found for name ..."
I have this issue when I import the .svg file.

PS: I'm using the .svg file downloaded from your example project.
A help?

![Simulator Screen Shot - iPhone 8 - 2019-03-10 at 16 06 59](https://user-images.githubusercontent.com/5114680/54086943-8c305a80-434e-11e9-93bf-f7f16861cde2.png)

[2019-03-10 16:35] kristerkari commented on #8
From the error stack it looks like the svg file is not processed by the transformer.

What does your config file look like? You can look at the example app config and compare it to yours.

[2019-03-10 18:36] ithustle commented on #8
@kristerkari , thanks to be here.

Yep, I already compare with the example app.

This is mine config file looks like:

[code]

[2019-03-10 20:53] kristerkari commented on #8
The config looks correct, so the issue must be somewhere else. Would it be possible for you to upload your project somewhere where I could have a look at it?

[2019-03-16 15:46] augustosamame opened #9 "Problem with one particular SVG file"
Thanks for this library! It works great for almost all my SVGs. However, one particular one just crashes Expo. No error message, just crashes simulator or Expo client on actual device. Tried it in iOS and Android with the same result.
SVG works fine in React.

My configs:

[code]

app.json and metro.config.js are identical to Readme.

problematic SVG:

[code]

[2019-03-16 16:03] augustosamame opened #10 "Some SVGs rendering improperly"
Most of my SVGs work fine. However some are not rendering properly. They work fine in React though.

My config:

package.json

[code]

app.json and metro.config.js are identical to Readme.

correct SVG image:

![image](https://user-images.githubusercontent.com/16038063/54477934-e01dc200-47da-11e9-9adc-35617d099d2d.png)

my React Native (expo) app shows:

![image](https://user-images.githubusercont

[2019-03-16 17:59] kristerkari commented on #10
Thanks for reporting @augustosamame!

With a quick glance I think that the problem is that your SVG file has an image inside it that is a base64 encoded png image, and the `react-native-svg` library probably only supports vector graphics.

I'm not sure if there is anything that can be done to get that SVG to render properly.

[2019-03-16 18:00] kristerkari commented on #9
I think that this SVG has the same issue as the other one. A base64 endoded png image inside the SVG image.

[2019-03-16 18:04] kristerkari commented on #10
There is this issue that suggest that the data uris can be supported, so I will have a look to see if it can be supported:
https://github.com/react-native-community/react-native-svg/issues/891

[2019-03-16 20:03] kristerkari commented on #10
This is something that needs to be fixed either in [SVGR](https://github.com/smooth-code/svgr) library or [react-native-svg](https://github.com/react-native-community/react-native-svg) library.

I opened an issue to SVR's repo first:
https://github.com/smooth-code/svgr/issues/286

[2019-03-16 20:15] augustosamame commented on #10
So is there any change I can make in my original svg files that would help
at this time? Exchanging the keys for href for example?

On Sat, Mar 16, 2019, 15:03 Krister Kari <notifications@github.com> wrote:

[2019-03-16 20:20] kristerkari commented on #10
I don't think that you can do anything for now, I'm currently waiting for some feedback from the library maintainers to see where the fix should be done.

Here's the issue that I created to `react-native-svg`'s repo:
https://github.com/react-native-community/react-native-svg/issues/971

[2019-03-17 01:35] msand commented on #10
Can you try with the develop branch of react-native-svg or this commit/patch: https://github.com/react-native-community/react-native-svg/commit/3cff87fd4f357ca33a9671ce86af679739ee16fc

[code]

[2019-03-17 10:50] kristerkari commented on #10
Thanks for the quick fix @msand! At least the diff looks like a it will fix the issue. I'll do some testing.

[2019-03-17 10:58] kristerkari commented on #10
@msand I did a quick test using the patch with a remote image and a base64 image, and it does fix the compatibility with SVGR.

Thanks!

[2019-03-17 11:39] kristerkari commented on #10
One thing to notice: I did not manage to get the SVG image from @augustosamame to render even after the fix, but I managed to get other png images to render.

Maybe there is something else that is not working?

[2019-03-18 21:48] kristerkari commented on #10
I tested with `react-native-svg` v9.3.5 and the image from this issue is rendering properly. Thank you @msand  for the fix!

[2019-03-18 21:48] #10 closed

[2019-03-18 21:53] kristerkari commented on #9
This issue is also fixed in `react-native-svg`. Update to v9.3.5 or newer to get the fix. 👍

[2019-03-18 21:53] #9 closed

[2019-03-18 21:58] augustosamame commented on #9
Thank you!!!

El lun., 18 mar. 2019 a las 16:53, Krister Kari (<notifications@github.com>)
escribió:

[2019-03-18 22:03] kristerkari commented on #9
btw. I think that Expo ships with an older version of `react-native-svg`, but you need the latest version (9.3.5+) to get the fix.

[2019-03-18 22:39] augustosamame commented on #9
Yes. I'm trying and (failing) to make Expo use the latest 9.3.5 version.
But that's a different issue

On Mon, Mar 18, 2019, 17:03 Krister Kari <notifications@github.com> wrote:

[2019-03-20 11:30] manelsanz opened #11 "Not catching the style/classes correctly (Black shape)"
Hi, I have an SVG file with `<style>` tags, and the conversion is not going well. That renders as a black shape of the SVG. I think that it doesn't catch the `<styles>` tag well... what I can do? I have so much SVG Files...

SVG File:

[code]

Thanks.

[2019-03-20 20:49] kristerkari commented on #11
Thanks @manelsanz!

There are still features that `react-native-svg` does not support when compared what the web browsers support related to SVG rendering.

I haven't tested, but my guess is the same as yours that the `<style>` tag is not supported. Could you instead change the svg file to have the `fill` attribute in the `path` elements instead of the `<style>` tag?

[2019-03-21 01:48] Mikecoon opened #12 "Can't make it work at all"
Seems like this package doesn't work at all. Moreover, I've broken my project because of that.

I tried it with react-native 55-59 and every time I see only
```Cannot find module 'metro/src/transformer'```

What's wrong with that? What the hell is that transformer? Where should I get it from?

[2019-03-21 08:25] kristerkari commented on #12
Hi @Mikecoon!

The `'metro/src/transformer'` is the path for the default transformer from [Metro bunlder](https://github.com/facebook/metro). It needs to always be called after running `react-native-svg-transformer`'s code for your source files.

It's really hard to say what might be wrong from that error. Would it be possible for you to upload your project somewhere where I could have a look at i

[2019-03-21 08:59] manelsanz commented on #11
Yes @kristerkari , this way works fine.
I see that in your example project (https://github.com/kristerkari/react-native-svg-example) you have a webpack.config.js that I don't have. And you have installed the package `@svgr/webpack`. It's really necessary?

Thank you.

[2019-03-21 09:11] kristerkari commented on #11
It's not strictly necessary, but it makes it possible to use the exact same code to render the SVG on both Web and React Native as they both are processed with the same library.

[2019-03-24 07:28] kristerkari commented on #8
Closing this because of inactivity. Let's reopen if something new comes up.

[2019-03-24 07:28] #8 closed

[2019-03-27 00:46] ps37 opened #13 "react-native-svg-transformer not working with expo"
"react-native-svg": "8.0.10", (inside expo's package.json)
react-native "version": "0.57.1"
expo "version": "32.0.6"
"react-native-svg-transformer": "^0.12.1"

metro.config.js:
[code]

`packagerOpts` inside app.json:
[code]

`metro.config.js` and `app.json` are at the same level.

Inside the component:
`import { BackPacker } from '../assets/icons/backpacker.svg';`

This is resulting in the followi

[2019-03-27 12:20] kristerkari commented on #13
Thanks @ps37!

I need to check what the compatibility with Expo is. Expo has its own version of `react-native-svg`, so there might be some issues with that.

Let me try it out and I'll get back to you!

[2019-03-27 17:49] ps37 commented on #13
@kristerkari
Thanks for getting back!
The react-native-svg in Expo's node modules works fine when I try to use it to render primitives like circle and rectangle. But the svg-transformer doesn't seem to find it.

[2019-03-27 17:51] kristerkari commented on #13
I think that the import is different when Expo is used, so it might be that there needs to be some code to detect if Expo is used an import the library from a different location.

[2019-03-28 18:55] ps37 commented on #13
@kristerkari

Hey, I am just wondering if there is any update on this from your side? I don't have a clue about how to do this!

[2019-03-29 09:10] kristerkari commented on #13
I haven't had time to look at it yet because I have been really busy with things this week, but I'll try to have a look at it this weekend.

[2019-03-31 16:12] ps37 commented on #13
Hey @kristerkari,

Just wondering if you have any update on this?

Thank you.

[2019-03-31 17:30] kristerkari commented on #13
@ps37 I'm looking at it currently. I'll let you know what the situation is after testing out a few things.

[2019-03-31 18:04] kristerkari commented on #13
I created a new Expo project, installed `react-native-svg-transformer`, added Metro config, and added the code to import an SVG image. It's working for me at least.

Here's the repo if you want to have a look at the setup:
https://github.com/kristerkari/react-native-svg-expo-example

[2019-03-31 19:07] Thioby opened #14 "Does not work with react Native 0.59.x"
I just grabbed your example app and upgraded RN to version 0.59.2.

Application does not work at all either on IOS and Android.
![Screenshot_1554058909](https://user-images.githubusercontent.com/8046733/55293621-abc01d80-53f8-11e9-895f-131319dce016.png)

### Dependencies:

    "react": "16.8.3",
    "react-native": "0.59.2",
    "react-native-svg": "^9.3.5",
    "react-native-svg-transformer": "^0

[2019-04-01 06:32] kristerkari commented on #14
Thanks!

I created a fresh 0.59.2 and added `react-native-svg` and `react-native-svg-transfomer`. Everything seems to be working fine, so it might be that you have something wrong in your configuration files.

Please see the example project that I uploaded and check your `metro.config.js`:
https://github.com/kristerkari/react-native-0.59-svg-example/blob/master/metro.config.js

[2019-04-01 06:36] Thioby commented on #14
Thanks, problem was with `metro.config.js`

I did:
`const { getDefaultConfig } = require("metro-config");
module.exports = (async () => {
    const {
        resolver: { sourceExts, assetExts }
    } = await getDefaultConfig();
    return {
        transformer: {
            babelTransformerPath: require.resolve("react-native-svg-transformer")
        },
        resolver: {
            assetExts:

[2019-04-01 06:45] kristerkari commented on #14
Oh yeah I need to change the README to say that you need to merge the config with the existing one, not only add the code.

Thanks!

[2019-04-01 06:45] #14 closed

[2019-04-01 22:13] ps37 commented on #13
Thanks, I will check it out and let you know.

[2019-04-02 00:04] AnimaSA opened #15 "Does not work with customized project root"
Hiya, I have a RN 0.59.2 project with config that looks like this:

[code]
I'm seeing the same issue from #14, but as far as I can tell the only difference between our configs is the moved project root and extra node module. Any ideas?

Dependencies:
[code]

[2019-04-02 00:47] leonardomarciano commented on #15
+1

[2019-04-02 13:47] kristerkari commented on #15
Hmm... I'm not sure what the problem might be. I guess that I just need to try the same config to debug this.

[2019-04-02 20:49] AnimaSA commented on #15
Following up on this, I was running my packager with `react-native start`. As it turns out, RNCLI does not care about metro.config.js when you run it this way. Mind boggling.

[2019-04-02 22:04] #15 closed

[2019-04-03 18:18] kristerkari commented on #12
Closing this because of inactivity. Let's reopen if something new comes up.

[2019-04-03 18:18] #12 closed

[2019-04-03 21:17] edpaget commented on #13
I ran into this same issue with an ejected ExpoKit app. It doesn't seem  like `import { } from 'react-native-svg` works at all after ejecting and I'm unable to include react-native-svg as a dependency.

I ended up patching the [loader]
(https://github.com/smooth-code/svgr/tree/master/packages/babel-plugin-transform-react-native-svg) to make it `import { Svg } from 'expo'` and transform components

[2019-04-17 07:12] kristerkari commented on #13
I guess that the issues with Expo are now solved? Let's re-open this issue if something new comes up.

[2019-04-17 07:12] #13 closed

[2019-04-17 10:57] alamothe opened #16 "Implement as Babel macro"
Hello,
Is it possible to implement as babel macro? (https://github.com/kentcdodds/babel-plugin-macros)

This way, it would work out-of-the-box with Expo, with no configuration necessary. This is how I load `graphql` files for example. Thanks!

[2019-04-17 11:14] imbudhiraja opened #17 "Does work with react-native 0.59.4 & react-native-svg 9.4.0"
facing issues while integration of latest react-native and svg version.

`bundling failed: Error: ENOENT: no such file or directory, scandir`

"react-native": "0.59.4",
"react-native-svg": "^9.4.0",
"react-native-svg-transformer": "^0.12.1",

[2019-04-17 11:30] alamothe commented on #11
@kristerkari It should be possible to inline styles with a plugin, please check: https://github.com/smooth-code/svgr/issues/245

By the way, is there a way to customize `.svgrrc` for transformer? Thanks!

[2019-04-17 12:10] alamothe commented on #11
...I tried to create a custom `.svgrrc` but it wasn't picked up.

I succeeded by patching `react-native-svg-transformer` like this:
[code]
Hope this helps.

Do you maybe know why custom config is not being picked up? Thanks!

[2019-04-17 12:30] #17 closed

[2019-04-17 12:31] imbudhiraja opened #18 "How change color of SVG Images"
How to change color of SVGs.

[2019-04-17 12:49] edpaget commented on #13
I think we need to add an extra piece of configuration to this module if we want to use it my svgr patch. We'd need to be able to specify some kind of option to allow `{native: {expo: true}}` to be passed to svgr from this line: https://github.com/kristerkari/react-native-svg-transformer/blob/master/index.js#L52

[2019-04-17 12:55] kristerkari commented on #13
I'll look into adding the feature to read user provided SVGR config inside the transformer:
https://github.com/smooth-code/svgr/blob/master/website/src/pages/docs/configuration-files.mdx

Any help with getting that done is of course welcome.

[2019-04-17 12:57] kristerkari commented on #11
Thanks for the example @alamothe.

I'll look into adding the feature of reading the user provided SVGR configuration inside the transformer.

Here are the docs for SVGR configs:
https://github.com/smooth-code/svgr/blob/master/website/src/pages/docs/configuration-files.mdx

[2019-04-17 12:58] kristerkari commented on #18
There is currently no support for that, but I'm open for ideas of how to implement that inside this library.

Related issue:
https://github.com/kristerkari/react-native-svg-transformer/issues/7

[2019-04-17 16:16] ps37 commented on #13
@kristerkari I apologize for not updating you early. The svg transformer work fine for me now. The problem was because, I used Yarn to add the dependency and then I was using npm install to install my packages.
I am now using only Yarn and not using npm.

[2019-04-17 16:43] kristerkari commented on #13
@ps37 No worries, I just like to close inactive issues so they are not left open in the repository.

[2019-04-19 08:19] kristerkari commented on #11
I opened a Pull Request that adds support for reading SVGR config:
https://github.com/kristerkari/react-native-svg-transformer/pull/19

[2019-04-19 08:20] kristerkari commented on #13
I opened a Pull Request that adds support for reading SVGR config:
https://github.com/kristerkari/react-native-svg-transformer/pull/19

[2019-04-19 17:41] kristerkari commented on #18
New version is out that supports replacing a color inside the SVG images. It's a bit lacking, but at least you can try it out to see if works for you project. More info can be found in the README.

https://github.com/kristerkari/react-native-svg-transformer/releases/tag/0.13.0

[2019-04-19 17:42] kristerkari commented on #7
New version is out that supports replacing a color inside the SVG images. It's a bit lacking, but at least you can try it out to see if works for you project. More info can be found in the README.

https://github.com/kristerkari/react-native-svg-transformer/releases/tag/0.13.0

[2019-04-19 17:43] kristerkari commented on #11
@alamothe  New version is out that adds support for the SVGR config file:
https://github.com/kristerkari/react-native-svg-transformer/releases/tag/0.13.0

[2019-04-19 17:43] #11 closed

[2019-04-20 07:21] imbudhiraja commented on #18
@kristerkari thanks a lot man, i'll check

[2019-04-22 11:05] alamothe commented on #11
Thank you!

[2019-04-23 16:47] gablorquet commented on #11
i've added the .svgrrc file but i still only get black shapes, do I need to have other components installed ?

[2019-04-23 16:56] gablorquet commented on #11
found it, you need to add install @svgr/plugin-svgo

[2019-04-23 18:37] kristerkari commented on #11
@gablorquet I think that your problem was not related to the `.svgrrc` file, but to the fact that some SVG images don't render correctly with React Native. The `@svgr/plugin-svgo` helps because it removes some stuff that is not compatible with React Nativel

[2019-05-08 05:18] imbudhiraja opened #20 "ENOENT: no such file or directory, scandir due to metro.config.js"
This works fine
`module.exports = {
  transformer: {
    getTransformOptions: async () => ({
      transform: {
        experimentalImportSupport: false,
        inlineRequires: false,
      },
    }),
  }}`

But when i update metro.config.js with
`const { getDefaultConfig } = require('metro-config');
module.exports = (async () => {
  const {
    resolver: {
      sourceExts, assetExts,
    },
  }

[2019-05-08 06:24] kristerkari commented on #20
Hi @imbudhiraja!

I created a new 0.59.5 project and installed `react-native-svg`+ `react-native-svg-transformer
`. I used your config and imported an SVG image. Everything is working as expected for me, so the problem is likely elsewhere.

Would it be possible for you to paste the whole error stack from react native here? Also, if possible, it would help a lot if you could upload your project som

[2019-05-08 11:14] imbudhiraja commented on #20
@kristerkari can you please try installing `https://github.com/archriss/react-native-render-html` with default metro.config.js and with modified one.
I'm facing this issue while installing many packages.

[2019-05-08 19:17] kristerkari commented on #20
I did also install that library, but it did not make any difference. I uploaded my project if you want to take a look:
https://github.com/kristerkari/react-native-svg-debug-0.59.5

@imbudhiraja please provide a proper error stack from the error that you are getting, or upload your project somewhere, otherwise your are just wasting my time.

[2019-05-09 04:24] imbudhiraja commented on #20
@kristerkari sure i'll upload a demo project in coming weekend

[2019-05-11 21:49] danbockapps commented on #6
@kristerkari I got the same error as in the OP when trying to add this to my Expo/TypeScript project. This is with Expo 32 (which is RN 0.57). I had added the metro.config.js in the project root alongside app.json (didn't have that file before) and added the packagerOpts section to app.json.

TypeScript also complains about the import statement. "Cannot find module '../assets/search.svg'."

[2019-05-12 08:14] kristerkari commented on #6
@danbockapps I have a working example that has Expo 32 and `react-native-svg-transformer` installed.

You can compare your own project to it:
https://github.com/kristerkari/react-native-svg-expo-example

[2019-05-12 08:16] kristerkari commented on #6
@danbockapps and for typescript you might need to do `declare module "*.svg";`, I'm not sure, but you can try that.

[2019-05-12 13:10] danbockapps commented on #6
I forked react-native-svg-expo-example and successfully added TypeScript using the [Expo instructions](https://docs.expo.io/versions/latest/guides/typescript/). I submitted pull request #21 on this project to add the declaration to the readme.

I'm still getting the error on my existing project, so I still need to figure out what the difference is there. Thanks for your help!

[2019-05-12 13:52] danbockapps commented on #6
I figured out my error - it was because I had react-native-typescript-transformer installed even though I don't need it (because I'm using Expo). I had installed TypeScript using [TypeScript's instructions for adding TypeScript to a React Native project](https://github.com/microsoft/TypeScript-React-Native-Starter) when I should have used [Expo's instructions for adding TypeScript to an Expo proje

[2019-05-12 14:44] kristerkari commented on #6
@danbockapps Good that you got your problem solved. `react-native-typescript-transformer` is not needed in Expo or React Native if the version is at least 0.57.x, but it was used for older versions to get Typescript to work.

[2019-05-15 16:02] spylefkaditis opened #22 "Update color of SVG?"
Is it possible to change the color of an imported svg image based on state updates?
This doesn't work. The style is always primaryBlue even when the active value is true and the textSubdued should be applied.

`<Home color={active ? primaryBlue : textSubdued} />;`

[2019-05-15 17:06] kristerkari commented on #22
Thanks @spylefkaditis !

This is a question that is asked quite often (https://github.com/kristerkari/react-native-svg-transformer/issues/7, https://github.com/kristerkari/react-native-svg-transformer/issues/18).

Currently when it comes to dynamically replacing the color, this library is limited to what SVGR  can provide:
https://github.com/smooth-code/svgr

I'm not currently sure if it is possib

[2019-05-16 08:08] spylefkaditis commented on #22
Thanks

[2019-05-16 08:08] #22 closed

[2019-05-16 08:09] rimzici opened #23 "Some svg images not transformed properly"
First of all thanks for the great work! Was very helpful and I must say it works for most of the images that I use in my app, except for one.

Here is a reproducible [demo](https://github.com/rimzici/SVGTransform)

**FYI: There are some semi-transparent objects in this svg.**

Any help will be appreciated.
Thanks!

react: 16.8.3
react-native: 0.59.8
react-native-svg: ^9.4.0
react-native-svg-transf

[2019-05-16 17:23] kristerkari commented on #23
Thanks @rimzici!

The problem is either in `SVGR` or `react-native-svg`. Usually the problem is that `react-native-svg` does not yet fully support everything that you can do with SVG images.

I'll have a look to see what is the thing that is not working.

[2019-05-16 18:58] kristerkari commented on #23
I had a quick look, and it seems that the problem is related to the `x` and `y` coordinates that the SVG is using. It's rendered correctly with a Web browser, but not in `react-native-svg`.

If I change the first two numbers of the `viewBox` property to `0` and change the `x` and `y` values from the elements inside the SVG images, things start to appear.

[2019-05-17 04:26] rimzici commented on #23
Thanks for the quick response @kristerkari  !

May be I should use a simpler svg and dig into the issue later.

[2019-05-22 10:26] nervouscat opened #24 "[Question] Is it possible to overlay a text over the SVG element"
Hello,

I am currently trying to overlay a custom text over the SVG element:
[code]

is it possible to do so?

Thank you in advance!

[2019-05-22 16:42] kristerkari commented on #24
Thanks @nervouscat!

I haven't tested, but you should be able to do that by giving the wrapping `<View>` element `position: "relative"` as a style and the other elements `position: "absolute"` and then positioning them.

[2019-05-22 16:43] kristerkari commented on #20
I'm closing this because of inactivity, let's reopen if something new comes up

[2019-05-22 16:43] #20 closed

[2019-05-22 16:54] kristerkari commented on #23
Alright, good to know, closing as resolved.

[2019-05-22 16:54] #23 closed

[2019-05-30 07:43] nervouscat commented on #24
Works Well! Thank you!

[2019-05-30 07:43] #24 closed

[2019-06-03 00:28] nevace opened #26 "letter-spacing causes app to crash"
I've been trying to figure this issue out for a while now but it seems that adding a letter-spacing attribute to any element causes the app to crash.

This looks like an issue with react-native-svg itself, using a numeric value causes the crash as mentioned here:

https://github.com/react-native-community/react-native-svg/issues/568

Here's an example adapted from the issue above:

`			<Svg width=

[2019-06-03 07:31] kristerkari commented on #26
HI @nevace! The fix should be done in `react-native-svg`. I need to think if there is any easy workaround for the problem.

[2019-06-04 15:05] skhameneh opened #27 "Existing default Metro transforms interfere with `react-native-svg-transformer`"
Filing this issue equally for investigation and documentation for those whom may have been experience similar issues.  This information may be useful in troubleshooting various configurations.

`experimentalImportSupport: false` and `inlineRequires: false` appear to break `react-native-svg-transformer`
[code]

I found an issue within `styled-components` produces when these are present with `babelT

[2019-06-04 15:15] skhameneh commented on #27
This may be an issue with the metro resolver.

[2019-06-05 11:09] kristerkari commented on #27
Thanks @skhameneh for letting us know about this.

I haven't noticed the problem yet, and the demo app is also updated to React Native 0.59.8: https://github.com/kristerkari/react-native-svg-example/blob/master/metro.config.js

Do you have some kind of example app or project to reproduce the issue?

[2019-06-18 15:03] shachardevops opened #28 "how to use SVG in a custom component"
![Screen Shot 2019-06-18 at 18 02 12](https://user-images.githubusercontent.com/36663539/59695650-3c85e880-91f3-11e9-9686-7d6c12590aa4.png)

the Icon is the SVG component and it doesn't work
<img width="363" alt="Screen Shot 2019-06-18 at 18 03 15" src="https://user-images.githubusercontent.com/36663539/59695744-63441f00-91f3-11e9-8590-7b74cfb1e950.png">

[2019-06-24 13:17] kristerkari commented on #28
Thanks @shachardevops!

Looking at your screenshots, I'm not exactly sure what you are doing with the component wrapping. Would you have to have some example project / repo that I could have a look at?

[2019-06-24 15:02] adamski commented on #28
I think this is the same issue as #14. I am also getting this error. New RN project, with lots of code pulled in from an older project. I am converting `react-native-svg-uri` to use this transformer. I have tested the [example app](https://github.com/kristerkari/react-native-0.59-svg-example) and it works as expected. I have been trying to break the example app in the same way but no luck so far!

[2019-06-24 15:21] adamski opened #29 "Invariant Violation: Element type is invalid"
I'm getting the following error when importing SVG's:

[code]

My metro config: (the one from the example app does not work for me)

[code]

I can get the[ example app](https://github.com/kristerkari/react-native-0.59-svg-example) to work fine. I tried to alter a few things there, to see if I could break it. No clues yet. I suspect this is a config issue.

[2019-06-24 15:27] adamski commented on #29
This is definitely a config issue. Copying my config to the example app results in the same error.

My issue with the example app's config, is that I get the following error:

[code]

[2019-06-24 15:49] adamski commented on #29
My `react-native-svg` version was way out of date. I compared the `package.json` of the example to my app.
I also removed the babel transformer for necessary `react-native-svg-uri`.

[2019-06-24 15:49] #29 closed

[2019-06-24 15:49] adamski commented on #28
@shachardevops see #29, might help you. It's most likely a config issue.

[2019-07-01 15:32] idudinov commented on #6
Just wanted to comment on Typescript + Expo. Expo still (SDK v33) uses Babel for transforming for TS, so some TS features remain unavailable. Details: https://github.com/ds300/react-native-typescript-transformer#babel-caveats

So using [multiple transformers](https://github.com/kristerkari/react-native-css-modules/blob/master/docs/multiple-transformers.md#step-3-configure-transformer) was working

[2019-07-01 16:45] kristerkari commented on #6
Sure, for most users it's enough to use Babel's TS, but yeah there are some special features left out that some users might need.

[2019-07-04 11:59] cylim opened #30 "How to dynamically change color of SVG Images instead the app?"
According to #4

The previous pull request accepted the solution to change color before transform using the config file instead of changing it dynamically. Is there any other workaround for changing color(fill)?

I don't think adding a file for dev dependencies are as critical as we need to have multiple SVG files in added to the release app because of the color differences? Or are there any other

[2019-07-08 09:39] salaaar commented on #30
Same Issue!

[2019-07-09 17:57] kristerkari commented on #30
Thanks @cylim ! I know that this is a highly requested feature.

The reasons why there is no way to do change the colors dynamically yet, are:

1) React Native's Metro packager/bundler does not seem to support any good way for the user to define a custom config to be passed to a library that is using a transformer (e.g. `react-native-svg-transformer`). I'm however considering doing the same thing

[2019-07-10 10:05] jun58 opened #31 "svg with animate is not useful"
I have a svg file some code like:
`<circle transform="translate(8 0)" cx="0" cy="16" r="10" fill="#fff">
    <animate attributeName="r" values="0; 4; 0; 0" dur="1.2s" repeatCount="indefinite" begin="0"
      keytimes="0;0.2;0.7;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.6 0.4 0.8" calcMode="spline" />
  </circle>`
but animate is not active

[2019-07-10 12:30] kristerkari commented on #31
`animate` does not seem to be supported by `react-native-svg`:
https://github.com/react-native-community/react-native-svg#supported-elements

[2019-07-10 17:41] steobrien commented on #30
From https://www.smooth-code.com/open-source/svgr/docs/options/#replace-attribute-value

Could that work? Are dynamic properties supported here?

[2019-07-10 21:15] steobrien commented on #30
^ seems to work for me!

[2019-07-11 07:24] kristerkari commented on #30
@steobrien Nice! Would you have time to contribute a change to the README with instructions on how to do that?

[2019-07-13 22:57] qwoodmansee commented on #30
@steobrien I would also greatly appreciate a little writeup on how to do it. I can make the readme change if you just want to respond here

[2019-07-17 11:29] bogdanbanciu commented on #29
@adamski i can't seem to solve this error, what did you end up doing to fix this?

[2019-07-17 12:07] adamski commented on #29
Exactly what I wrote above; made sure I was on a recent version and removed the babel transformer. Other than that I don't know.. It can also happen if you are not importing the SVG correctly.

[2019-07-17 13:54] BeauCarrel opened #32 "File not working"
First off, thanks for the package, it works a treat with most SVG files.

I have trouble with one file, no errors it just doesn't show, the svg file seems ok, it works on other svg viewers, there is no base64 data, just paths and circles.

After a few hours of tying different things I am at a loss, I'll attach the file and hope someone can help me know if it's a bug or a problem with the file and

[2019-07-17 16:15] kristerkari commented on #32
Thanks! I'll have a look.

[2019-07-18 14:12] dl-husky73 commented on #3
Hi, I am new to SVG but have it transformer and react-native-svg working.   Building a dashboard and received all new art yesterday.  The SVG's with numbers in them (with font-weight) are crashing the android app while the svg's without the text work.   Is there a workaround?

[2019-07-18 19:48] kristerkari commented on #3
@dl-husky73 There is no workaround currently, this is something that should be fixed in `react-native-svg` project, but a proper fix requires quite a lot of work.

[2019-07-19 18:09] ithustle opened #33 "Invariant Violation: View config not found for name <svg width"
![61540727-18a60480-aa36-11e9-9b69-09b661061c9a](https://user-images.githubusercontent.com/5114680/61555920-63387880-aa58-11e9-8c2b-3d525bfccb35.png)

React native info output:

[code]

**Steps To Reproduce**
**Before**:
yarn add react-native-svg
yarn add react-native-svg-transformer -D

**After**
Enable hermes
yarn add babel-plugin-inline-import -D

myComponent.js

[code]

screen.js

[code]

[2019-07-19 21:03] kristerkari commented on #33
Looking at the error, it looks like the transformer is not running for the SVG file. Would it be possible for you to upload your project somewhere where I could have a look at it?

[2019-07-19 21:56] kristerkari commented on #32
@BeauCarrel I had a quick look at the image.

It indeed does not render at all, but I could not find any obvious reason for it. I need to have another look at some point to see if I can figure out what's wrong.

[2019-07-19 21:58] kristerkari commented on #33
I also have not tested the compatibility of `react-native-svg-transformer` with React Native 0.60.x yet.

[2019-07-22 06:56] BeauCarrel commented on #32
Thanks for your time @kristerkari :) A point I forgot to mention, the svg is generated by [https://github.com/w8r/geojson2svg](geojson-2-svg) if that helps at all.

[2019-07-22 10:59] ithustle commented on #33
Hi @kristerkari . Thanks to be here and sorry for delay. Please FIA
[ithustle-toqueplay-d29670962b65.zip](https://github.com/kristerkari/react-native-svg-transformer/files/3416902/ithustle-toqueplay-d29670962b65.zip)

[2019-07-22 17:56] Marcos-Costa opened #34 "[Question] How mock imports with jest"
When testing my application, jest can't mock the imports:
[code]

I've tried several things (since I'm new to testing), like using [this gist](https://gist.github.com/JCMais/8302a1646ccc9759237947a66bdda8e0), I created a file named ```react-native-svg-mock.js``` inside the ```project_root/__mock__/``` and my ```jest.config.js``` looked like this.
[code]

-------------------------------------------

[2019-07-23 10:18] sakina1403 commented on #29
Heyy. @adamski I am trying to get this working since a long time. Could you share your final metro.config.js.

Even the example is not working for me.

[2019-07-24 07:28] kristerkari commented on #34
Hello @Marcos-Costa!

I haven't tried mocking the SVG images, but I think that you would mock them the same way as SVG images with SVGR, so I guess that this thread could help you:
https://github.com/smooth-code/svgr/issues/83

[2019-07-24 18:35] Marcos-Costa commented on #34
I've already tried those solutions, still, got nothing. Thanks anyway.

[2019-07-24 21:13] kristerkari commented on #33
I haven't yet had time to look at the project that you uploaded.

I created a new React Native project and installed both react-native-svg and the transformer.

Everything was working fine, both on iOS and Android (with Hermes disabled and enabled), so this looks like something related to the project/configuration.

[2019-07-24 21:22] kristerkari commented on #34
I'm not sure what exactly you are doing in your test, but I could get the svg image import to work (and the error to be thrown) by mocking it using this configuration:
https://github.com/smooth-code/svgr/issues/83#issuecomment-408869426

[2019-07-24 21:36] kristerkari commented on #27
Closing this as inactive. Let's re-open if something new comes up.

[2019-07-24 21:36] #27 closed

[2019-07-25 04:47] chin8628 opened #35 "Unable to resolve SVG file"
Hi, I've been trying to import SVG file to use in my react-navigation file as an icon. I installed the library as you write in the readme file. But, I got an error.

`Unable to resolve "./assets/icons/bottom_tab/profile_active.svg" from "MainNavigation.js"
Failed building JavaScript bundle.`

I've been checked my file, and I'm really sure that the svg file is in right directory.

My environment:
-

[2019-07-25 17:21] nelsera commented on #35
I have the same problem :(

[2019-07-26 11:55] aktitarov commented on #35
+ 1 have the same issue

[2019-07-26 13:10] OriginLive opened #36 "SVG with react native Animated"
Hi, any idea how to use Animated (react native) with svgs? Setting it's height and width to an animated value does not seem to work.

[2019-07-27 20:18] kristerkari commented on #36
Hi @OriginLive! If you need to animate SVGs, then I would suggest to use plain `react-native-svg` with its React components to do that.

[2019-07-28 12:32] OriginLive commented on #36
so i assume

`import Logo from '../../assets/img/logo_main_big.svg';

...

          <Logo width={572 / 3} height={615 / 3} />

`

Is actually react-native-svg, even though i'm loading it through transformer?

[2019-07-28 15:10] kristerkari commented on #36
Yes, that's correct.

[2019-07-28 15:12] #36 closed

[2019-07-29 05:06] pachoclo commented on #35
+1

[2019-07-29 14:18] cylim commented on #30
Sorry for opening an issues and didn't check it, I had open a PR with the solution provided by @steobrien.

[2019-07-29 14:19] #30 closed

[2019-07-29 14:27] kristerkari commented on #18
There are now proper instructions in the README.

[2019-07-29 14:27] #18 closed

[2019-07-29 15:17] arthuryeti commented on #35
+1

[2019-07-29 15:34] jdaoliveira commented on #35
+1

[2019-07-29 21:23] JaEdmuva commented on #34
has anybody got a working solution for this?

[2019-07-29 21:30] steobrien commented on #30
Excuse the delay – thanks for taking care of this @cylim!

[2019-07-29 21:32] kristerkari commented on #34
I did, with a Jest config mentioned in the SVGR issue that I linked in my previous comment. Is there perhaps something else that you need in your tests?

[2019-07-30 07:41] zanechua commented on #35
For those using expo, most likely it's due to the breaking change of the new expo-cli v3.

Please see:
https://github.com/expo/expo-cli/issues/875

[2019-07-31 04:55] chin8628 commented on #35
Thank you! @zanechua
Since we already found the solution. I will close this issue.

[2019-07-31 04:55] #35 closed

[2019-08-01 04:54] dilipchandima commented on #33
<img width="518" alt="Screen Shot 2019-08-01 at 10 23 40 AM" src="https://user-images.githubusercontent.com/9445375/62266589-7bd86380-b446-11e9-9558-5e47c909f60c.png">

I'm facing this issue I'm working on React-native 0.60.4

[2019-08-01 05:18] dilipchandima commented on #29
Heey, the example is working for me but for my application SVG is not working, following configs from my app

`"dependencies": {
    "@jumpn/react-native-jetifier": "^0.1.4",
    "appcenter": "^2.2.0",
    "axios": "0.18.0",
    "base-64": "^0.1.0",
    "lottie-ios": "3.0.3",
    "lottie-react-native": "^3.1.0",
    "moment": "^2.24.0",
    "react": "16.8.6",
    "react-native": "0.60.4",
    "rea

[2019-08-01 06:32] dilipchandima opened #38 "Does not working with react native 0.60.4 - Invariant Violation"
Facing a issue with react-native-svg-transformer with react native latest version 0.60.4

- react-native-svg is working fine with react-native 0.60.4

This is public git repo I have created for example react-native-svg-transformer with react-native 0.60.4 - [https://github.com/dilipchandima/reactNative6SVG](url)

following are my configurations for react native

package.json
[code]

metro.config

[2019-08-01 06:33] kristerkari commented on #33
@dilipchandima From that error it's difficult to even say if the error is related to the svg tranformer. Usually the errors with the svg transformer are related to it not being configured correctly.

[2019-08-01 07:16] ithustle commented on #33
Another thing... svg images with gradient doesn’t work

@kristerkari

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-01 07:52] dilipchandima commented on #33
@kristerkari I just created a fresh app and added svg transformer it has the same issue [https://github.com/kristerkari/react-native-svg-transformer/issues/url](url)

[2019-08-01 08:04] dilipchandima commented on #33
@kristerkari I just tested for react-native 0.59.2 it is working fine but I didnt do anything other than for 0.60.4 project

[2019-08-01 08:07] kristerkari commented on #33
@dilipchandima I also tested creating a new React Native project + adding the transformer last week and everything was working just fine. Can you please upload the project that you have so that I can have a look at it?

[2019-08-01 08:07] #38 closed

[2019-08-01 08:09] dilipchandima commented on #38
after I change the metro config as following it works
[code]

[2019-08-01 08:15] dilipchandima commented on #33
@kristerkari just fix the issue but for that i need to remove the following code from the metro config I dont have mush idea about that
[code]

[2019-08-01 08:18] kristerkari commented on #33
`react-native-svg` supports gradients, but some images might have some other unsupported things that cause the image to not render correctly.

Did you get the react-native-svg-transformer setup to work @ithustle ?

[2019-08-01 13:34] ithustle commented on #33
Yep, but in some images not all.

[2019-08-02 19:17] kristerkari commented on #33
Okay, this issue seems to be going quite off-topic. Please open a new issue with the specific problem if there still is one.

[2019-08-02 19:17] #33 closed

[2019-08-05 07:03] kristerkari commented on #3
This is now fixed in the latest `react-native-svg` version.

[2019-08-05 07:03] #3 closed

[2019-08-06 00:47] mdalpozzo opened #40 "Changing SVG fill color in JS Code -- need processColor() for IOS"
Followed the steps under [https://github.com/kristerkari/react-native-svg-transformer#changing-svg-fill-color-in-js-code](url).

Called my svg element like so:
`<Account width={100} height={100} color={'red'} />`

Works fine in Android.  SVG icon is red yay.  Problem is in IOS I get this error:
`JSON value of 'red' of type NSString cannot be converted to a UIColor. Did you forget to call processCo

[2019-08-06 10:58] kristerkari commented on #40
Thanks @mdalpozzo ! This looks like it might be related to the `react-native-svg` or SVGR libraries.

Which version of SVGR and react-native-svg are you using? Does it work on iOS if you use a hex color instead of a named color?

[2019-08-06 16:11] mdalpozzo commented on #40
"react-native-svg-transformer": "^0.13.0",
"react-native-svg": "^9.6.2",
"react-native": "0.60.4"

hex colors have the same behavior

[2019-08-07 09:38] kristerkari commented on #40
Hey @mdalpozzo, I just tried in the demo project and I'm getting the same error as you are on iOS.

[2019-08-09 11:43] kristerkari commented on #40
@mdalpozzo I could get it to work by calling the prop both in the config and the component `fill` instead of `color`. Can you try if that fixes it for you too?

[2019-08-10 07:17] #40 closed

[2019-08-10 07:44] #34 closed

[2019-08-10 07:46] kristerkari commented on #34
I added the documentation to README for mocking the SVG images with Jest. If it does not work for you, please let me know and let's fix the docs.

https://github.com/kristerkari/react-native-svg-transformer#usage-with-jest

[2019-08-10 12:24] msand commented on #31
@jun58 I'd recommend using svgr to convert the content to react components, and then manually translate the animate element to use the react-native Animated api instead: https://facebook.github.io/react-native/docs/animated

[2019-08-10 12:49] msand commented on #31
The Easing api should have everything you need: https://facebook.github.io/react-native/docs/easing
There's also https://github.com/osdnk/react-native-spline-interpolate which is for a unrelated problem, but also utilizes splines, but rather generates them to fit data, than just get them as input and calculate the output. Essentially the same logic could be used, but it's possible to implement mor

[2019-08-10 14:06] msand commented on #31
Couldn't help myself 😄 https://snack.expo.io/@msand/animated-svg-with-bezier-spline-calcmode

[code]

[2019-08-10 15:39] msand commented on #31
A bit refactored to make it more reusable:

[code]

[2019-08-10 20:09] msand commented on #26
This should've been fixed since: https://github.com/react-native-community/react-native-svg/commit/c343229441ade3e3422aba00de80b4ca50b8bbe1#diff-214abf2d48c6f1a6d396acd35c58e37c
I.e. since v9.5.0

[2019-08-12 21:17] spacesuitdiver opened #42 "Dynamic import"
Sorry if this is documented somewhere in an Issue but I can't seem to find it.

I'm trying to do something like this and get an Invariant Violation.

[code]
[code]

I'm also open to other ways of doing this as well that allow for a smidge of code reuse.

[2019-08-12 21:22] spacesuitdiver commented on #42
It doesn't seem like `require()` syntax works at all 🤷‍♂

[2019-08-12 21:26] spacesuitdiver commented on #42
Closest I could get is declaring all the imports up top `import MySvg1 from '...';` etc.

[2019-08-14 21:33] kristerkari commented on #26
@msand I just tested with the example code from this issue, and I could get it to crash on Android with both 9.5.1 and 9.6.2 versions. So `letterSpacing={1}` crashes, `letterSpacing="1"` doesn't.

[2019-08-14 21:40] kristerkari commented on #42
Thanks @spacesuitdiver! It looks indeed like the `require` syntax is not supported at all. I have always been using `import`, so I have not even noticed it.

I wonder if there is something in the Metro packager configuration that is related to this? https://facebook.github.io/metro/docs/en/configuration

[2019-08-14 23:06] msand commented on #26
@kristerkari Can you try https://github.com/react-native-community/react-native-svg/commit/54f930a332360330879af4d4857b22642abfd11f

[2019-08-16 03:19] mdalpozzo commented on #40
thanks! thats the trick

[2019-08-24 07:31] FrederickEngelhardt opened #43 "[Request] support for getTransformOptions in >0.60"
What's the status on getting support for the **getTransformOptions** in metro.config.js?
[code]

[2019-08-24 09:32] kristerkari commented on #43
What do you mean? What needs to be supported? Let me know and I can have a look at it.

[2019-08-25 16:59] kristerkari commented on #26
@msand I tried your fix, looks like it fixes the crash with the example code.

[2019-08-25 17:01] kristerkari commented on #26
Closing this as the fix is included in `react-native-svg` 9.6.3 and newer versions.

[2019-08-25 17:01] #26 closed

[2019-09-02 08:47] anfriis commented on #7
I was able to change `fill` color for a `path` in my .svg file like this:

[code]

Notice the `currentColor` keyword set in the `path`.
I could then use it like this by setting `color` prop:
[code]

I had to figure this out from a StackOverflow [post](https://stackoverflow.com/a/55357231/1866847), so could this info be added to the README @kristerkari ?

[2019-09-02 12:12] Cazs03 commented on #11
I'm using expo.io, can tellme how can add this configuration? im bit confuse

[2019-09-02 12:50] kristerkari commented on #7
@anfriis Don't use `color` as the React property name, use for example `fill` like in the README.

[2019-09-02 13:37] anfriis commented on #7
@kristerkari If I use `fill` instead of `color` the color is defaulting to blue - the same as not setting anything, so it doesn't work

[2019-09-02 13:52] kristerkari commented on #7
@anfriis Please verify that you have also change the prop name from SVGR's config. At least last time that I tried it, it was working just fine.

[2019-09-02 14:16] anfriis commented on #7
@kristerkari I am not using an `.svgrrc` file, if that is what you mean. I tried with one at some point but couldn't make it work.

[2019-09-02 15:33] kristerkari commented on #7
The runtime color replacement does not work without the `.svgrrc`. You need to have it.

[2019-09-02 19:30] multiplegeorges opened #44 "Flow type error on created components"
Hi @kristerkari

Thanks for this package, it's very handy.

When using it and Flow together, I always get these errors from Flow:

[code]

Here's my metro.config.js:

[code]

And a simplified sample of how I'm using it:

[code]

Thoughts?

[2019-09-03 07:32] anfriis commented on #7
I just created an example project to see if I had some color configuration in my project that was doing the replacement, but it works indeed the same way as I described.
The example project uses RN 0.60.5, react-native-svg 9.8.4, and react-native-svg-transformer.
See `App.tsx` and `star.svg`: Using `currentColor` in the svg file, and `color` prop in the component works just fine. Using `fill` prop

[2019-09-03 16:28] kristerkari commented on #44
Sorry, but I can not really help you with this as I don't use Flow. Hopefully someone else can provide you an answer. :)

[2019-09-03 17:10] kristerkari commented on #7
It does not work because you don't have `.svgrrc` in your project. I just tested with your example, and `fill` as the property works fine if you add this:

[code]

[2019-09-03 20:20] anfriis commented on #7
Okay cool, but is there a problem in using `color` prop instead and avoiding the need for the `.svgrrc` file?
It will not work if I have multiple layers I want to set color for in the same SVG file, but I don't need that at the moment

[2019-09-03 21:20] kristerkari commented on #7
Not at all, you can use whatever you want. I just personally think that doing it with the `.svgrrc` is a cleaner way.

[2019-09-04 11:42] anfriis commented on #7
All right, thanks for clarification 👍

[2019-09-06 12:45] stahamnguyen commented on #7
Hello,

Having the the `.svgrrc(.json)` file with the content like this:
`{
  "replaceAttrValues": {
    "currentColor": "{props.fill}"
  }
}`
doesn't work for me. Is there any kind of configuration I need to run to enable that transforming. I'm using TypeScript in my project which requires running `tsc -w` to generate the `.dist` folder, and I'm not sure if that affects the transformation.

[2019-09-06 15:23] kristerkari commented on #7
@stahamnguyen Hmm.. I don't know why it doers not work in your case, but I can have a look if you are able to upload your project somewhere.

Is there a reason why you are using `tsc` to compile your Typescript, and not the default Babel version that React Native has built-in?

[2019-09-13 10:26] vitalyiegorov opened #45 "react-native-web support"
Hi @kristerkari,

Thank you for your plugin it is working great for React native projects,

We are trying to share our codebase across react-native and web(using react-native-web), our codebase is originally developed for React native CLI project, now we would like to add web support and using CRA with CRA-rewired but we are facing a problem:

According to CRA docs if you want to import SVG as rea

[2019-09-13 12:15] kristerkari commented on #45
Not sure what library/plugin CRA is using for the SVG images, but the idea with this transformer is that you can use SVGR in you Web projects, and the images and properties will work 100% the same between Web and React Native.

[2019-09-13 12:17] kristerkari commented on #45
Can SVGR easily be added to CRA? That would fix the problem for you.

The fix that you are suggesting is a breaking change, so I'm not that keen on making it if it can be avoid.

[2019-09-13 15:13] vitalyiegorov commented on #45
Why do you think that this is a breaking change? It would leave `default export SvgComponent` and same usage `import Logo from './logo.svg';` unchanged, but also it will give ability to use named export: `import {ReactComponent as Logo} from './logo.svg';` which is supported by default by CRA.

CRA uses SVGR but with some modifications, I am just trying to enable the simple bridge to use this plug

[2019-09-14 15:06] kristerkari commented on #45
True, that would not be a breaking change, but the Typescript types will not be compatible with CRA as in CRA the default import seems to be a string, and the named import is a React component.

I need to look into the CRA docs a bit more to see if I'm looking at the correct things.

[2019-09-14 15:12] kristerkari commented on #45
Actually, I'm not completely sure if the default import in CRA is the url or not, I tried to look at this, but I'm not sure:
https://github.com/facebook/create-react-app/issues/3722

[2019-09-16 08:13] baleo-it commented on #38
Adding `babelTransformerPath: require.resolve("react-native-svg-transformer")`into `metro.config.js` breaks our metro config and debugger is not showing any information anymore.

We are using :
- "@babel/plugin-proposal-decorators": "^7.6.0"
- "react-native-svg-transformer": "^0.13.0"
- "react-native-svg": "^9.9.3"
- "react-native-vector-icons": "^6.6.0"
- "react-native-elements": "^1.2.0"

Experi

[2019-09-16 08:28] vitalyiegorov commented on #45
@kristerkari Referring to CRA docs, you could use default export for SVG usage as
[code]
or use SVG as react component:
[code]

[2019-09-16 08:33] kristerkari commented on #45
Yes exactly, and that's the problem: it works differently from the changes that you are suggesting. Which means that the default import would return a component in React Native, but a url in Web.

[2019-09-16 08:38] vitalyiegorov commented on #45
Yes, but this transformer is not used in any CRA projects, they have their on configuration and transformer, its recommended to use this transform only with React Native CLI projects, so this modification will influence only React Native projects which are using this transformer and thus adding named export won't break any existing React Native projects because the case with returning default as a

[2019-09-16 08:53] kristerkari commented on #45
I get that, but the change that you are suggesting also means that there would be types mismatch when sharing the same code between React Native and React Web with CRA and using Typescript or Flow.

I understand that many people are using CRA as their boilerplate, but what they do for Web doesn't make sense on the React Native side.

I use Typescript in most of my projects, and I'm not keen on mak

[2019-09-17 05:42] Simek commented on #29
I'm experiencing the same problem. @dilipchandima Did you found a solution for that? It seems that another issues related to this has been closed (#14) but merging config in suggested way do not work for me.

[2019-09-17 05:54] Simek commented on #38
Refs:  #14, #29

[2019-09-17 06:03] kristerkari commented on #38
I'll update the demo app to 0.60, and let's see if I get the same issue.

[2019-09-17 06:14] Simek commented on #38
I have fixed this issue by rewriting my config to:
[code]

In my case there was a problem with async/await construction from example .

[2019-09-17 06:14] Simek commented on #29
I have fixed this issue by rewriting my config to:
[code]

In my case there was a problem with async/await construction from example .

[2019-09-17 07:35] baleo-it commented on #38
@Simek how do you get `assetExts` and `sourceExts` defined?

[2019-09-17 09:53] Simek commented on #38
@baleo-it Thank you for pointing this out, my bad, I have missed this line while copying my config:
`const { assetExts, sourceExts } = require('metro-config/src/defaults/defaults');`

[2019-09-17 17:57] buzbohdan commented on #42
@spacesuitdiver I'm importing svg files using `require`, and it only works if I use `default` attribute of the object returned by `required` call.

So I think what you need is `<ListItem icon={require('../path/to/yo-that.svg').default} />`

[2019-09-21 23:12] inferusvv commented on #7
I am also don't  see any  effect of `.svgrrc`  file. RN 0.60.5.

Icon took from  font-awesome library.  I changed fill  property from `currentColor` to `#000` then created `.svgrrc` with  next content:

[code]

Here is icon:
[code]

[2019-09-24 05:51] wenniewu38 opened #47 "Svg not showing correctly"
Hi, I've been using react-native-svg and react-native-svg-transformer to render svg files in my app and it's worked fine.
However, It didn't work for one specific svg file.
The file size is only about 281 kb, while the other worked file size is about 1.61 mb.
The fils is supposed to look like this, which has all the color.
![image](https://user-images.githubusercontent.com/26664570/65484483-ca97fc

[2019-09-24 07:11] pavlov-sergey-alexandr opened #48 "Unable to resolve "react-native-svg" from "assets/icon/cancel-exit.svg""
After migrate from Expo SDK32 to Expo SDK35 I get an error - 'Unable to resolve "react-native-svg" from "assets / icon / cancel-exit.svg"'. I installed the library as you write in the readme file.

My package.json is the following:
"dependencies": {
    "expo": "^35.0.0",
    "expo-asset": "~7.0.0",
    "expo-camera": "~7.0.0",
    "expo-constants": "~7.0.0",
    "expo-file-system": "~7.0.0",

[2019-09-24 09:54] sshmyg opened #49 "SVGR config"
Hi, have problem with svgr config. Works configuration params which has been added to package.json. Stand alone files like `svgr.config.js` or `.svgrrc` - doesn't work.
Thank you.

[2019-09-24 10:54] kristerkari commented on #47
I think that you should open a new issue in https://github.com/react-native-community/react-native-svg

The issue is probably related to something not being yet supported in react-native-svg.

[2019-09-24 10:56] kristerkari commented on #48
You need to install the `react-native-svg` library too: https://github.com/react-native-community/react-native-svg

[2019-09-24 10:57] kristerkari commented on #48
Oh, it seems that the library should ship with Expo, in that case I have no idea.

[2019-09-24 10:59] kristerkari commented on #49
Sorry @sshmyg, but I really can't think of what could be wrong.

Would it be possible for you to upload your project somewhere where I could have a look at it?

[2019-09-24 12:36] pavlov-sergey-alexandr commented on #48
Thank you! Your solution works.

yarn add react-native-svg

This is genius solution. Error in expo documentation for SDK 35

[2019-09-24 15:43] wenniewu38 commented on #47
Ok thanks!

[2019-09-30 20:24] andrewtremblay-pear opened #50 "Warning while Interpolating animated SVG: '"###.###" is not a valid color or brush'"
I am attempting to import svgs from a class template and animating their colors:

My .svgrrc.js:
[code]
I can then animate the imported svgs like so:
[code]
SmileSvg.svg replaces the named attributes (color, color1, opacity1):
[code]

However, when I interpolate I get warnings that appear like the following:

The color then does not interpolate.

This occurs only on iOS where I have to process the

[2019-10-01 17:12] kristerkari commented on #50
@msand do you have any idea about this one?

[2019-10-01 19:02] msand commented on #50
What versions of react-native and react-native-svg is this? Can you try v9.10.0?

[2019-10-01 19:05] msand commented on #50
The useNativeDriver issue should by fixed by a pr i made which is included in v0.60.0 and later

[2019-10-01 19:05] andrewtremblay-pear commented on #50
Currently on "react-native": "0.59.10" and "react-native-svg": "9.8.3", will try to repro in more recent versions.

Still not clear idea as to the cause but there might be an issue with animating rgba colors against hexadecimal values.

[2019-10-01 19:06] msand commented on #50
I mean v0.61.0

[2019-10-04 22:41] matthova opened #51 "Update image src on readme so images are not broken on npm"
Not a big deal, but worth noting :)

[2019-10-08 07:26] Alenius commented on #7
I am also having troubles with this, in my package.json:

[code]

I used #AAA just for testing. This has no effect. The same if I place it in a .svrrc-file

[2019-10-08 08:35] kristerkari commented on #7
Hello @inferusvv and @Alenius :)

I just tested the examples from both of you in the example project and they were working fine, so please check that you have everything installed correctly.

Here's the example project that I use for testing things:
https://github.com/kristerkari/react-native-svg-example

[2019-10-08 09:03] Alenius commented on #7
Hello again!

I have checked my versions and i have:

[code]

I litterally copied your metro.config from the example you provided. Is there anything else I can check?

[2019-10-08 09:16] kristerkari commented on #7
Check that the SVG image that you are using has a fill color matching `#000`. You can also try restart your Metro packager with the `--reset-cache`  flag.

[2019-10-15 12:01] julioxavierr commented on #29
Any workaround on this?

[2019-10-15 12:06] kristerkari commented on #29
@Simek @julioxavierr I would suggest not to use the `mergeConfig` function if it is not needed. So I guess that you could use just a single config instead.

[2019-10-24 03:17] pzxbc commented on #7
This is the correct answer. after your add .svgrrc file to your project, you have to reset cache to first

[2019-11-01 18:10] RenanNeitzel opened #53 "SVG file don't render on Android device"
Hi,

I have a svg file to render. I'm constructing a component and import to my screens.

My packages versions:
- "react-native": "https://github.com/expo/react-native/archive/sdk-35.0.0.tar.gz",
- "react-native-svg": "~9.9.2",
- "react-native-svg-transformer": "0.13.0",
- "node": "12.8.1",
- "expo-cli": "3.0.9",

So, I have this first:

[code]

So, when I import my new component on screen and cal

[2019-11-03 09:05] kristerkari commented on #53
Works for me on both Android and iOS with the latest 9.13.3 react-native-version.

I used https://github.com/kristerkari/react-native-svg-example to test.

Could you try with the latest version?

[2019-11-03 09:12] kristerkari commented on #49
Closing this because of inactivity. Let's re-open if something new comes up.

[2019-11-03 09:12] #49 closed

[2019-11-03 15:30] olivinesguerra opened #59 "Expected Node Error"
Hi guys,

I encounter some error.

I followed everything on the docs.

"expokit": "^35.0.3"
"expo": "^35.0.0",
"react-native-svg": "^9.9.2",

![Screen Shot 2019-11-03 at 11 29 15 PM](https://user-images.githubusercontent.com/5746116/68087514-caf0c300-fe91-11e9-9166-29c64b4dd379.png)

thanks for helping :D

[2019-11-04 15:58] RenanNeitzel commented on #53
There were svg elements that are not supported by react-native.
I generated svg in another format and now it is working.

[2019-11-04 15:58] #53 closed

[2019-11-08 02:37] taneba opened #60 "Stroke color is not transformed correctly"
I tried to change color by passing color code to stroke prop like this:

[code]

It works as I expected in local development (I'm using expo), but in production stroke color is not changed whatsoever.

The svg file is like:

[code]

[2019-11-08 07:43] kristerkari commented on #60
I'm not sure if that is even supported. The SVG images are transformed by SVGR to a format like this, so the `stroke` will be applied to the `<svg>` element.

[code]

[2019-11-08 12:45] davidsonsns opened #61 "Add documentation to create svgMock with ts extension"
I believe that could be helpful to add documentation to create a `svgMock` file for typescript project. Maybe people want to add just `.ts` files in your folder structure.

To fix on my current project I did it:

[code]

If sounds good I can contribute to the project with this adding it on the documentation.

[2019-11-08 12:57] kristerkari commented on #61
Sorry, I don't quite understand what you mean here. There is already documentation for adding a mock file to your project, is that not enough?

[2019-11-15 17:14] eae-christian opened #62 "An SVG is no longer rendered correctly after the update"
Hi, after updating from react-native-svg-transformer 0.13.0 to 0.14.0 at the moment one of the svg that I have in the application is not rendering well, in the previous version everything was perfect.

Attached photos

My environment:
"@svgr/core": "^4.3.3",
"react": "16.11.0",
"react-native": "0.61.4",
"react-native-svg-transformer": "^0.14.0",

My application is only in iOS, I don't know if Andr

[2019-11-15 17:57] kristerkari commented on #62
Yeah, that's something that broke by enabling SVGO minifier as it removes the `viewBox` attribute. I'm going to release a patch release to fix that, but in the meantime you can just continue using 0.13.0.

[2019-11-18 11:59] #62 closed

[2019-11-18 12:10] kristerkari commented on #62
@eae-christian could you please test if version 0.14.1 fixes the issue for you?

https://github.com/kristerkari/react-native-svg-transformer/releases/tag/0.14.1

[2019-11-18 12:46] harshitaahuja commented on #60
@kristerkari @taneba I am also facing issue with this... changing fill color to #000 and setting fill attribute worked, but stroke is not working in similar way.
Please suggest what change can be made in svg
[code]

[2019-11-18 12:57] kristerkari commented on #60
@harshitaahuja The stroke does not work the same way because the library (SVGR) that is used to transform the SVG images to a format that React Native supports has a very simple API for replacing attribute values.

So if you use the `replaceAttrValues` in a config, it's just going to look for a color and replace it with another one.

If you give the component (image) a value like `stroke="#000"`,

[2019-11-19 01:56] taneba commented on #60
@kristerkari @harshitaahuja
In my case, it eventually worked somehow.
What I did here is to add .svgrrc like below

[code]

In fact I had done this before I open this issue, but I think I missed something at that time.
As @kristerkari said, svg-transformer simply does pass it's props to svg element, and replaceAttrValues makes change from #000 to the color you passed as stroke prop on svg element.

[2019-11-19 12:19] ptfly opened #64 "Setting color through fill prop not working properly on 0.14.1"
Using fill on svgs containing groups `<g>` with `fill="none"` and actual fill color set deeper in the tree doesn't work. In order to make it work, I have to set the fill color on the top most group.

This will work:
[code]

But this wont:
[code]

On 0.13 its is working fine! Is there any breaking change which is not mentioned?

[2019-11-19 15:44] kristerkari commented on #64
Yeah 0.14 enabled SVGO which in theory does not mean breaking changes, but in reality it did break things.

[2019-11-20 00:28] NickHackman commented on #62
0.14.1 fixed the issue for me, thanks a lot!

[2019-11-20 12:48] eae-christian commented on #62
sorry, yes! fixed :)
Thanks

[2019-11-21 00:47] rphlmr commented on #62
Hello :)

There is one more problem related to this bug.
Before this version, if we didn't set a width it was set to 100% (I guess).
Without width, the icon no longer display.
Maybe it's wanted ?

Works before :
<Icon height={20}  fill={myColor}  />

Now :
<Icon width="100%" height={20} fill={myColor} />

[2019-11-21 07:44] kristerkari commented on #62
@rphlmr are you using the latest 0.14.1 version? If yes, could you provide me the SVG, so I can have  a look at it.

[2019-11-21 09:56] rphlmr commented on #62
@kristerkari Yes i'm on the latest version.

[code]

[2019-11-21 10:32] kristerkari commented on #62
Thanks @rphlmr ! I have a fix that disabled a setting from SVGO, and I'm making a patch release soon.

[2019-11-21 10:48] kristerkari commented on #64
@ptfly Could you please provide a full example to reproduce the bug? I tried to reproduce the bug, but wasn't able to do it because probably I'm not doing exactly what you are doing.

[2019-11-21 11:03] kristerkari commented on #62
@rphlmr
https://github.com/kristerkari/react-native-svg-transformer/releases/tag/0.14.2

[2019-11-21 11:08] kristerkari opened #66 "Version 0.13.0 -> 0.14.x image rendering regressions"
Here's a list of the currently known image rendering issues in 0.14

**Fixed in 0.14.1**:
- [Default image size not applied because of SVGO removing `viewBox` attribute](https://github.com/kristerkari/react-native-svg-transformer/issues/62#issue-523590349)

**Fixed in 0.14.2**:
- [Default image size not applied because of SVGO removing attributes with default values](https://github.com/kristerkari

[2019-11-21 11:08] kristerkari commented on #66
Anything missing from the list? Please let me know.

[2019-11-21 13:56] rphlmr commented on #62
@kristerkari It works :) 🥇

[2019-11-25 07:26] ptfly commented on #64
There is nothing more then the code above. I just removed the path for readability sake. Could be my SVGs, but they are quite standard. Here is an example icon:
[code]
I'm using them like that:

[code]
Then
```<Icon.AngleDown fill={color}/>```

[2019-11-25 13:22] kristerkari commented on #64
Alright, I'll try to reproduce with that example.

[2019-11-27 09:07] #64 closed

[2019-11-27 09:13] kristerkari commented on #64
@ptfly I managed to reproduce the bug, so I released a fix in 0.14.3. Could you please try it out and see if it fixes the issue for you?

[2019-11-27 22:13] mikeislearning commented on #7
I can change the fill on Android, but not iOS

I entered the following for my `.svgrrc` file:
{
  "replaceAttrValues": {
    "#242021": "{props.fill}"
  }
}
And it has no affect on either of them. Android lets me change the `fill` value without any config, iOS doesn't let me change it no matter what config I have.

react-native: 0.61.2
react-native-svg: 9.13.3
react-native-svg-transformer: 0.14.2

[2019-11-28 08:11] ptfly commented on #64
Yes, now it looks fine! Thanks for the fix!

[2019-11-28 08:39] kristerkari commented on #7
@mikeislearning Could you please paste here the svg image that you are using? Can you also test your thing with `react-native-svg-transformer` 0.13.0?

[2019-11-28 08:41] kristerkari commented on #7
@mikeislearning Actually I just noticed that you are using version 0.14.2, could you please update to 0.14.3 that has fix for your problem.

[2019-11-28 15:25] mikeislearning commented on #7
I updated to 0.14.3 and now everything works properly!
Thank you so much for the quick fix and response @kristerkari

[2019-12-04 10:50] kristerkari commented on #66
I'll close this as nothing new has been reported.

[2019-12-04 10:50] #66 closed

[2019-12-04 12:39] kristerkari commented on #61
I'm closing this as inactive, let's re-open if something new comes up.

[2019-12-04 12:39] #61 closed

[2019-12-10 08:37] samridhgupta commented on #22
Any update on this ?

[2019-12-10 08:39] kristerkari commented on #22
@samridhgupta Yes, check the readme https://github.com/kristerkari/react-native-svg-transformer#changing-svg-fill-color-in-js-code

[2019-12-23 15:25] alexandrepalagem commented on #43
@FrederickEngelhardt here's a working example

**metro.config.js**
[code]

[2019-12-31 17:24] OzzyTheGiant commented on #38
If anyone is using Expo with their project, **restart** the development server. Apparently you need to do this to load config file correctly. It's such a simple thing that anyone could miss but that helped me out after getting the same exact error. Can confirm this is working with default metro.config.js, typescript declaration file, .svgrrc file, and app.json settings.

[2020-01-02 13:59] kristerkari commented on #43
Thanks for posting the example. I'll close this as the author has not replied anything.

[2020-01-02 13:59] #43 closed

[2020-01-03 03:52] kopax opened #70 "work on the web, Warning: </static/media/splashScreen.0f923900.svg /> is using incorrect casing. Use PascalCase for React components, or lowercase for HTML elements."
I have installed in my project `expo install react-native-svg`.

I have exported the svg as a component by doing:

[code]

It can render on native but fail on the web.

    bundle.js:69367 Warning: </static/media/splashScreen.0f923900.svg /> is using incorrect casing. Use PascalCase for React components, or lowercase for HTML elements.

I have followed that configuration https://github.com/react-n

[2020-01-03 03:52] kopax commented on #70
This is quite blocking for doing web.

I have prepared a reproduction and I have found inconsistency with another project that is configured the same way:

- [`kopax/expo-bug-reports` branch `issue-6660`](https://github.com/kopax/expo-bug-reports/tree/issue-6660) [(travis)](https://www.travis-ci.org/kopax/expo-bug-reports)
I have found inconsistency with another project that is configured the same

[2020-01-03 09:30] kristerkari commented on #70
Hi @kopax! I currently have no idea of how the Web side works in Expo. I think that I need to sit down and have a look at it.

There is an example app with Native + Web support, which does not use Expo, but uses Webpack + SVGR instead:
https://github.com/kristerkari/react-native-svg-example

[2020-01-03 14:28] kopax commented on #70
Thanks @kristerkari for your reply. I will post the expo webpack configuration of expo. I think this is due to this probably missing, I will let you know and see my research

https://github.com/kristerkari/react-native-svg-example/blob/master/webpack.config.js#L33

[2020-01-03 17:41] kopax commented on #70
I just add a whole session around your example  and the svgr documentation.

After multiple attempl, including a copy past of your webpack config, I still have a path when requiring an svg.

I have re-asked my question here : https://github.com/gregberge/svgr/issues/375

And opened an issue on expo here: https://github.com/expo/expo/issues/6660

But they closed it, so far nobody from any of the co

[2020-01-03 19:42] kristerkari commented on #70
Is it possible for the user of Expo to extend Expo's Webpack config? That way you could add the `@svgr/webpack` dependency and configure it.

[2020-01-03 20:49] kopax commented on #70
Yes, it is possible as described [here](https://docs.expo.io/versions/latest/guides/customizing-webpack/#example)

I have already tried and it does not work at all. (see comment [here](https://github.com/gregberge/svgr/issues/375#issuecomment-570639446))

Basically, this is how my `webpack.config.js` looks like : https://github.com/kopax/expo-bug-reports/blob/issue-6660/webpack.config.js

The whol

[2020-01-04 23:22] iamhrayr commented on #44
You can add this piece of config inside `.flowconfig`
[code]

and edit `SVGFlowStub.js` like:
[code]

**but this approach has an issue: flow will not show error even if you import non existing `.svg` file**

[2020-01-13 20:09] michaelgira23 commented on #70
Hello! I ran into the same issue while using the default Expo webpack config for web. You indeed have to extend the default config, but also modify some existing rules that would otherwise override `@svgr/webpack`. I posted a fix here: https://github.com/expo/expo/issues/6660#issuecomment-573506912

[2020-01-13 20:45] kristerkari commented on #70
Thanks for looking into it @michaelgira23! Let's see if we manage to get some fix for the documentation to Expo or this repo, so that in the future it will be easier to use the same code for both Web and Native.

[2020-01-14 09:35] kopax commented on #70
I have tested @michaelgira23 fix and it does work. To be near perfection, we should be able to decide if we import the url or the react component, usually with `import svg, { ReactComponent } from './mysvg.svg';`. This is already possible with svgr, and should be configured for native and webpack.

Yes this should definitely be included in the expo core configuration.

[2020-01-16 18:34] andrewtremblay-pear commented on #50
Still seeing the warning in RN 0.61.5
Listing relevant versions:
[code]

[2020-01-28 17:27] JCron245 opened #71 "Importing SVG error "Cannot Find Module""
Hello, thank you for the awesome package.
It is actually working for me to import the SVG's just how I want.
The only downside is that my IDE keeps flagging the import as an issue, wasn't sure if someone knew how to deal with it?

![image](https://user-images.githubusercontent.com/1250639/73288458-4378ce80-41b8-11ea-98ee-6e75999e79e0.png)

[2020-01-28 17:27] JCron245 commented on #71
ooof just saw the using Typescript section in the readme that I overlooked!

[2020-01-28 17:27] #71 closed

[2020-02-06 10:44] vomchik commented on #45
@vitalyiegorov You can set a custom template for SVGR.

[code]

@kristerkari   Maybe it will be useful, so let's add it to the README file.

[2020-02-13 18:19] mmmmmrob opened #72 "metro.config.js documentation out of date?"
react-native 0.61.5 cli-generated app using `npx react-native init AwesomeProject` generates a different style of `metro.config.js` to the one shown in react-native-svg-transformer docs.

[code]

It's not obvious how to add the tranformer/resolver code to the new style config.

[2020-02-13 18:57] mmmmmrob commented on #72
Resolved by looking at the sample app.

[2020-02-13 18:57] #72 closed

[2020-02-21 11:44] alexhoo opened #73 "Using the library with React navigation 5 makes Android to crash"
Using this library in addition with the recently released react-navigation 5 makes expo android's apps to crash without any information.

[2020-02-24 00:34] celandro opened #74 "Using react-native-svg-transformer with react-native-sass-transformer"
I am attempting to use both of your libraries together and getting the following error message:
The current error I am getting is `Can't find variable: $RefreshReg$`

Implementation based on https://github.com/kristerkari/react-native-css-modules/blob/master/docs/multiple-transformers.md#step-3-configure-transformer

[code]

[code]

[code]

[2020-02-24 14:17] alisabrigok commented on #7
I had the same problem while using version 0.14.3 and for me, clearing the cache was the solution.

Just to make things clear, this is the command I used `npm start -- --reset-cache`.

Thanks all for the help and the suggestions.

[2020-02-24 16:34] celandro commented on #74
It may be linked to https://github.com/facebook/react-native/issues/25622

Ive tried 0.54.1 for metro and it still had the issues

[2020-02-25 06:00] ilhamsa1 opened #75 "Does not working react native svg transform in yarn workspace (monorepo project)"
Hello,
I tried to run this library in the monorepo project and got an error, I tried various things, and now I have been stuck,

is there a solution?, thanks in advance

The following is the folder structure monorepo that I have.

[code]
And this is the metro.config.js file

[code]

I got this error ..

![WhatsApp Image 2020-02-25 at 12 57 19](https://user-images.githubusercontent.com/33473051/752

[2020-02-27 17:12] glennreyes commented on #73
Related issue at react-navigation repo to this: https://github.com/react-navigation/react-navigation/issues/6919

[2020-02-27 17:29] rodriguezmanu commented on #73
also react-navigation 4 version

[2020-02-27 17:56] glennreyes commented on #73
I just posted a working workaround here: https://github.com/react-navigation/react-navigation/issues/6919#issuecomment-592093015

[2020-03-02 13:38] kristerkari commented on #74
Hmm... I have not seen that error before. Which React Native version are you using?

[2020-03-02 13:40] kristerkari commented on #73
Nice, thanks for the workaround!

[2020-03-02 13:42] kristerkari commented on #75
Is it possible for you to upload your monorepo project somewhere where I can have a look at it? I haven't been using monorepos, so I'm not sure what the problem could be.

[2020-03-02 16:20] celandro commented on #74
No clue. The sass transformer works great.

[2020-03-09 13:25] Blackfaded commented on #75
Did you found a solution?

[2020-03-10 09:08] ilhamsa1 commented on #75
@Blackfaded Thank bro, You are right.  metro.config.js must be placed in the root project,
now it works well

[code]

[2020-03-10 09:08] #75 closed

[2020-03-11 12:25] Sakarisson commented on #22
@kristerkari This is not an ideal solution. I want to be able to dynamically set the color of any SVG, regardless of what its base color was. Essentially what I'm looking for is functionality that is similar to `tintColor`.

[2020-03-12 06:33] kristerkari commented on #22
@Sakarisson this library is using SVGR, so unfortunately we are limited to the replacement API that it offers. That means that currently you can have a fill color and replace it with another color at runtime.

If you have ideas of how to improve it, then I suggest that you open a new issue at SVGR's repository:
https://github.com/gregberge/svgr

[2020-03-12 06:35] #73 closed

[2020-03-14 08:56] eladgel opened #77 "Merge the contents from your project's metro.config.js file with this config (create the file if it does not exist already)."
I've used a boilerplate react native project with the attached below metro.config.js file:

How should I edit it to support this library?
![image](https://user-images.githubusercontent.com/412137/76678483-1bff8900-65e1-11ea-8c2b-f00dcb8c8276.png)

This is what I did:
![image](https://user-images.githubusercontent.com/412137/76678601-15254600-65e2-11ea-823f-27e7da23c6c0.png)

[2020-03-15 08:00] fireridlle commented on #77
Similar issue for me, getting error
[code]

[2020-03-15 12:41] kristerkari commented on #77
Thanks @eladgel and @fireridlle. If you are having problems with getting the configuration to work, could you please upload your project somewhere where I can have a look at it?

It's very difficult for me to help without seeing the project setup. What you can also do is try to create a new React Native project and just try the transformer out there to see how the setup is done before trying to se

[2020-03-16 07:12] fireridlle commented on #77
@kristerkari thank you for response. i have found some project at github and simply copied config from there. here is what i have

`const {getDefaultConfig} = require('metro-config');

module.exports = (async () => {
  const {
    resolver: {sourceExts, assetExts},
  } = await getDefaultConfig();
  return {
    transformer: {
      getTransformOptions: async () => ({
        transform: {

[2020-03-16 07:15] kristerkari commented on #77
That is the same config as in the example project: https://github.com/kristerkari/react-native-svg-example/blob/master/metro.config.js

Are you able to run the example project?

[2020-03-17 10:35] schmru opened #79 "Where to find .svgrrc"
Hi,

I am working on changing the color of svg files on my application. I followed the instructions to install your lib and got it working but now, when I want to change the color, I cant find .svgrrc file to add replaceAttrValues line.

I installed:
"react-native-svg": "9.13.3",
"react-native-svg-transformer": "^0.14.3"
Am I missing something or can someone please tell me where to find it.

[2020-03-17 14:42] kristerkari commented on #79
Hi @schmru,

the `.svgrrc` is an optional configuration file that you can add to your project's root.

Here's the documentation from SVGR's website:
https://react-svgr.com/docs/configuration-files/

[2020-03-17 14:42] #79 closed

[2020-03-17 15:13] schmru commented on #79
Thank you for the info

[2020-03-17 16:54] XOneto9 opened #80 "react-native with expo. SVG Image is not shown with static file"
Expo: 36.0.0(with eject)
react: 16.9.0
react-native: sdk-36(with expo)
react-native-svg-transformer: ^0.14.3
react-native-svg: 12.0.3

Hi, I'm using react-native with expo.
And I was followed This(react-natvie-svg-transformer) document guide line.

But the result is nothing.
I can not see anything.. also doesn't have error. just does not show.

[code]

![스크린샷 2020-03-18 오전 1 52 20](https://user-im

[2020-03-18 15:11] kristerkari commented on #80
Hey @XOneto9. I think that the problem might be that your svg image does not have any width/height set, and then when you use 100% as width and height it might not scale it correctly.

Could you try to use for example `300` as width and height and try if it helps?

[2020-03-18 15:37] kristerkari commented on #60
This seems resolved, so closing.

[2020-03-18 15:37] #60 closed

[2020-03-18 15:38] kristerkari commented on #59
Sorry for not answering earlier, but did you get this to work @olivinesguerra ?

[2020-03-18 20:08] XOneto9 commented on #80
@kristerkari oh...
I got it
Thanks I will try!

[2020-03-18 21:13] XOneto9 commented on #80
@kristerkari
Thanks! It's work!
but one more thing, could I change the color of svg file ?

[code]

I was try to change color but, it doesn't work.
should I do it?

[2020-03-18 21:23] kristerkari commented on #80
It works if you add a fill color to your SVG image and follow these instructions:
https://github.com/kristerkari/react-native-svg-transformer#changing-svg-fill-color-in-js-code

[2020-03-18 21:23] #80 closed

[2020-03-24 12:54] schmru opened #81 "Color changing stopped working"
Hi, I need some help because of some weird bug, probably somewhere in my project.
I was coloring svg files with
{
  "replaceAttrValues": {
    "#000": "{props.stroke}"
  }
}
And from start it was working fine, only the #000 color was replaced and the strokes that were not defined stayed as the designer set them.
But now suddenly when I set stroke all strokes change, even those that are not defined

[2020-03-25 09:49] #81 closed

[2020-03-25 10:24] #48 closed

[2020-03-27 10:40] eladgel commented on #77
@kristerkari sorry for the late response. I think it's all working

[2020-03-27 10:40] #77 closed

[2020-03-27 13:51] taimoor07 commented on #31
I have a svg file some code like:
<svg width="100px"  height="100px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ellipsis" style="background: none;">

<circle cx="84" cy="50" r="6.28031" fill="#e7e7e7">
<animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calc

[2020-04-02 10:10] lakshmajim opened #83 "Unable to use svg file as component in react native web"
**Repository with reproducible scenario**: [Rn web svg](https://github.com/lakshmajim/test-rn-web)

Unable to import and use the svg static images in web, the same thing is working in mobile

Sample code Im using to render svg images
[code]

I have added `@svgr/webpack` to my web package and added below rules to `config-override.js` file
[code]
Error i'm receiving on web
[code]
Is there any proble

[2020-04-02 13:20] kristerkari commented on #83
Hmm... could it be that the `file-loader` is used instead of the `@svgr/webpack` loader?

[2020-04-02 13:42] lakshmajim commented on #83
Tried removing the `file-loader`, got the same error.

[2020-04-08 14:01] graphnode commented on #42
Just to warn anyone reading this that this seems to not work on android after release build.

[2020-04-10 09:14] #83 closed

[2020-04-15 16:30] JSanchezIO commented on #61
I ran into an error that I believe the original author was trying to convey. My project uses Typescript and Jest. Using the documentation provided on mocking this library doesn't work. However, using the author's suggestion the mock works.

[2020-04-22 02:12] dinhduongson opened #84 "0.14.3 not show icon, tab bottom react-navigation color not working properly"
When I down to 0.13.0 it works

[2020-04-22 06:07] kristerkari commented on #84
Please paste example code so that I can debug the issue.

[2020-04-22 06:38] dinhduongson commented on #84
https://github.com/react-native-community/react-native-svg
https://github.com/kristerkari/react-native-svg-transformer

import Logo from './logo.svg';
<Logo width={120} height={40} />

[2020-04-22 06:40] dinhduongson commented on #84
<Logo width={120} height={40} />

[2020-04-22 09:51] kristerkari commented on #84
could you please link the contents of the SVG image that you are importing

[2020-04-22 10:09] dinhduongson commented on #84
any svg file I export from my xd file

[2020-04-22 10:10] dinhduongson commented on #84
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <defs>
    <style>
      .cls-1 {
        fill: #999;
      }
    </style>
  </defs>
  <g id="Group_16" data-name="Group 16" transform="translate(-470.91 -388.16)">
    <g id="Group_6" data-name="Group 6" transform="translate(470.91 388.16)">
      <path id="Path_7" data-name="Path 7" class="cls-1" d="M482.91,412

[2020-04-22 10:11] dinhduongson commented on #84
https://drive.google.com/file/d/19ByKydfzjqo-vQoSjq6sKxMMI0GnB4xc/view?usp=sharing

[2020-04-24 09:20] kristerkari commented on #84
@dinhduongson I had a look at your image and tested it with both v0.14 and v0.13.

The reason why the color is different for those versions is because 0.13 did not have support for the `<style>` element inside SVG images. 0.14 adds support for that, so the grey color from the `<style>` tag gets applied.

That means that everything is working correctly if you use 0.14.

[2020-04-24 09:20] #84 closed

[2020-04-24 09:24] dinhduongson commented on #84
I use react-navigation, when i click to tab have user icon, it doesn't change color as 0.13

[2020-04-24 09:37] kristerkari commented on #84
In that case you can try to remove the `<style>` tag from inside the SVG and see if that helps.

[2020-04-25 00:11] reybarcelo950 commented on #20
@kristerkari hi, I have the same error like this post, could you helpme, i have exactly the same config like your example but is not working.
![image](https://user-images.githubusercontent.com/26386298/80266019-d3b79a00-8667-11ea-8a77-3fe277b3eb8f.png)

[2020-05-07 20:26] crystalneth opened #85 "Config file not loading"
This module is working except that it doesn't seem to load the config file. I have tried numerous formats, from .svgrrc to svgr.config.js in different locations, mostly the root of my source files.

I've added log statements and gibberish to make the file invalid, and see no indication the module is trying to load my config file.
[code]

[2020-05-07 20:42] crystalneth commented on #85
Ok, so it seems like unlike everything else in my RN environment, the packager must be restarted to reflect any changes to the svg config. Perhaps not super high priority, however it would be great to support reloading, and also document that the metro packager needs to be restarted.

[2020-05-07 20:42] #85 closed

[2020-05-11 13:54] Egizas opened #86 "Error "Tried to register two views with the same name RNSVGRect""
"Expo": 37.0.0
"react": 16.9.0
"react-native": sdk-37(with expo)
"react-native-svg": "11.0.1",
"react-native-svg-flagkit": "^0.9.5",
"react-native-svg-transformer": "^0.14.3",

I am trying to use local file SVG, it was working fine few months ago with SDK 36. After I upgraded to expo SDK 37, I am getting this error:
`Requiring module "assets\images\icons\EarthFlag.svg", which threw an exception: I

[2020-05-13 18:36] AshwinMekala commented on #15
@kristerkari we should add this line "react-native start --config metro.config.js" to README for more clarity.

[2020-05-14 07:14] kristerkari commented on #15
@AshwinMekala I'm trying to keep the README as clean as possible, and this seems to be either a bug in some version of React Native CLI, or related to some very specific configuration.

I need some kind of example/demo of the exact problem that helps me to verify it before it can be added to the README.

[2020-05-14 12:44] sonicvision opened #87 "How to support accessibility?"
Hello,

I am using this library, and would like to mention some accessibility text for the svg.
Is there a way to do the same?

[2020-05-14 14:19] kristerkari commented on #87
Thanks @sonicvision, that's a good question.

This library takes regular SVG images and transforms them into a format that React Native can use. As far as I know, React Native has it's own built in accessibility features. That means that if the text inside the SVG image is not readable by iOS' VoiceOver or Android's TalkBack, the you could try to add the `accessibilityLabel` prop to the elements (

[2020-05-14 14:27] kristerkari commented on #86
Thanks @Egizas! Is there any possibility for you to create some kind of example project with the problem, so that I could have a look at it? It might just be that some change is required in the config.

[2020-05-15 13:44] carinlynchin commented on #7
Yep that did it for me too... had to run --reset-cache first and then run-android again and it worked :)

[2020-05-16 06:27] sperezm97 commented on #7
Hey People, in my case dot not work on any platform (Android, iOS). Im using Expo. this is my `.svgrrc`
[code]
i have these dependencies:

[code]

if anybody could help me, it will be Awesome !! THanks

[2020-05-16 16:49] hyochan opened #88 "Resizing svgs in react-native, get cut off"
Currently having problem in resizing image in `expo-web` which uses `react-native-web`.

Here is [the link](https://github.com/expo/expo/issues/6782#issuecomment-629656752) I've posted earlier.

Thanks.

[2020-05-18 21:31] pke commented on #77
This should be in the README. This "merging" is more complex than the README suggests.

[2020-05-19 06:08] kristerkari commented on #77
The problem is that people might have changed the default configuration and added their own settings to `metro.config.js`, so that's why the readme suggests that you "merge" the existing file with the changes.

[2020-05-21 00:45] hyochan commented on #88
Resolved https://github.com/expo/expo/issues/6782#issuecomment-629683820

[2020-05-21 00:45] #88 closed

[2020-05-24 12:44] pyros2097 commented on #70
I'm doing this for now to make it work,
[code]

[2020-05-26 13:26] Beetix opened #89 "InvalidCharacterError: String contains an invalid character"
Hi,

Running a project with Expo, I am getting an `InvalidCharacterError: String contains an invalid character` error on the web rendering. Android works fine and I haven't tested iOS.

I have the following dependencies in my `package.json`:
[code]
Here is my `App.js`, the Bower SVG was taken from [react-native-svg-example](https://github.com/kristerkari/react-native-svg-example):
[code]

Does any

[2020-05-28 09:29] Sankalp-Saxena commented on #6
@kristerkari svg image is opening on devices but not on web getting following error,

DOMException: Failed to execute 'createElement' on 'Document': The tag name provided ('/static/media/events-qengage.89418f90.svg') is not a valid name.

[2020-05-28 13:39] davazp opened #90 "Expose some information of the SVG as properties"
It would be very convenient to expose some properties like viewBox as properties of the generated component.

Now we need to duplicate this information in our code even though (I think?) this plugin has access to it.

For instance, something like

[code]

My use case is, I want to scale a SVG to fit the screen width, but without slicing it vertically, just letting it take the height it should take

[2020-05-29 22:38] pke commented on #77
I understand. People will find this issue here when they run into problems ;)

btw, do you know why SVGs is not supported by the core react-native code?

[2020-05-29 23:11] leup commented on #89
I have a similar error also on the web rendering

![image](https://user-images.githubusercontent.com/431119/83312400-75577b80-a212-11ea-93c4-b8e584b14f32.png)

[2020-06-02 11:05] gigaSproule commented on #89
I'm getting the exact same behaviour, but with vanilla react-native/react-native-web. Works perfectly fine on iOS and Android, but not web. SVG file generated (e.g. `/static/media/user.a61f6f35.svg` from above screenshot) exists and renders fine in Chrome.

[2020-06-02 11:49] Beetix commented on #89
Ok, so the problem is not related to Expo. Good to know, thanks!

[2020-06-02 12:38] gigaSproule commented on #89
I found a work around/fix. My file structure is:
[code]
What I did was create 2 files, `icons.ts` and `icons.web.ts` under `src/assets/icons`. In `icons.ts` I had a list of entries such as `export { Close } from "./close.svg";` and in `icons.web.ts` I had entries such as `export { ReactComponent as Close } from "./close.svg";`. I'm now getting a different error `Error: The `style` prop expects a m

[2020-06-03 19:45] nelsonprsousa opened #91 "Use with svg files vs xml strings"
I was reading README of react-native-svg and couldn't figure out what are the pros and cons of using react-native-svg with svg files or with xml string.

For what I could understood, using with svg files we can get compile time conversion and cached transformations using react-native-svg-transformer library.

The pros and cons of using with XML strings I don't know, specially pros/const between th

[2020-06-11 08:41] pssgo opened #92 "Invariant Vioation: View config getter callback for component"
![image](https://user-images.githubusercontent.com/16378134/84364111-4376e980-ac02-11ea-8b33-debab97e2105.png)

[2020-06-11 09:52] #92 closed

[2020-06-11 11:27] callmejm opened #93 "How to use default svg file fill color"
How to use default svg file fill color ?

When I import the svg as component the fill color it is gone, unless I set fill as a prop value that mention at readme, but i wish it can read from the svg file not manually set.

[2020-06-16 15:21] shareef-dweikat opened #94 "I am getting blank when importing my SVG image"
`import Contact from '../assets/images/contact.svg'

 < Image width={50} height={50} source={Contact}  />
`
i am using react-native-svg  and react-native-svg-transformer

[2020-06-19 02:55] Jonatthu opened #95 "Usage with electron"
Please provide a guide to use this great library with expo electron.
:D

[2020-06-19 12:00] SimonRobert0 commented on #94
Hi @shareef-dweikat
Just do :

import Contact from '../assets/images/contact.svg'
<Contact style={{...}} />

it should work

[2020-06-21 09:32] kristerkari commented on #95
Hi @Jonatthu!

This library is meant to be used with React Native, not Electron. You could try to ask about Electron's support for SVG images in some Electron support forum.

[2020-06-21 09:32] #95 closed

[2020-06-21 09:34] kristerkari commented on #94
@SimonRobert0 is correct, you are not supposed to use `Image`, but instead what you import, e.g. `<Contact width={50} height={50}>`

[2020-06-21 09:34] #94 closed

[2020-06-21 09:35] kristerkari commented on #93
@callmejm This probably depends a lot on the SVG image. Could you please paste the image here so that I can try it out?

[2020-06-21 09:46] kristerkari commented on #91
This is correct. I'm not sure if there is some kind of caching done when using xml strings, but there might possibly be a small runtime performance hit involved.

I don't think that there is a huge difference with the two approaches, but having the images in files might make it easier to use the same images in other places, for example a Web app.

[2020-06-21 09:49] kristerkari commented on #90
Thanks, I understand what you problem is.

This library is using [SVGR](https://github.com/gregberge/svgr), so the API that it provides is the same.

I'm not sure if I want to start building own things on top it, but I'm open for suggestions on how to solve your problem.

[2020-06-21 13:01] davazp commented on #90
It makes sense. I think I could probably manage to do what I want with custom templates of svgr:

https://react-svgr.com/docs/custom-templates/

I can try to get some info of the icon and re-export it.  Thanks for the help!

[2020-06-21 13:01] #90 closed

[2020-06-22 08:26] nelsonprsousa commented on #91
Thanks @kristerkari
You rock 🚀

[2020-06-22 08:26] #91 closed

[2020-06-22 22:19] cj commented on #6
I am getting the exact same error for web (ios and android work just fine)

[code]

[2020-06-23 06:04] kristerkari commented on #6
@Sankalp-Saxena @cj are you guys using Expo? I think that that is a different error.

[2020-06-23 06:06] kristerkari commented on #89
Hmm.. I'm guessing that Expo is using a different way of exporting/importing SVG images for their Web rendering.

[2020-06-23 06:07] Sankalp-Saxena commented on #6
@kristerkari Yes i am using expo and on web developer mode it cannot find that svg.

[2020-06-23 16:31] joebochill commented on #93
I'm not sure if this is the same issue, but I also recently noticed that my svg icons have been showing up invisible. I believe this was working before (picking up a default color without explicitly setting the `fill` prop), but I'm still trying to track down when the change might've happened. An example svg that i'm seeing this with is:
[code]

My project is using:
react-native-svg@12.1.0
react-n

[2020-06-23 16:49] joebochill commented on #93
dropping [react-native-svg to 10.1.0](https://github.com/react-native-community/react-native-svg/issues/1354) solved my issue, so I don't believe it's an issue in this library 👍

[2020-06-23 18:02] callmejm commented on #93
@kristerkari the svg is take from flaticon.com

[2020-06-23 18:55] Beetix commented on #89
I don't think it is a problem related with Expo since @gigaSproule had the same problem with "vanilla react-native/react-native-web".

I saw made [an example](https://github.com/kristerkari/react-native-svg-expo-example) using Expo. I tried running it myself but I am getting the following error on web compilation.
[code]
 Do you remember if the web was rendering ok?

[2020-06-24 11:21] Aung-Myint-Thein opened #96 "SVG in Animated.View"
Hello,

I am trying to put svg in Animated.View and it is not showing but it is showing correct svg when it is outside of Animated.View. Is it normal (as in not supported)? or Am I missing something? Thanks in advance.

[code]

[2020-06-24 14:04] Aung-Myint-Thein commented on #96
Found a way by using SVGCss from "react-native-svg" :D

[2020-06-24 14:04] #96 closed

[2020-06-30 19:24] gigaSproule commented on #89
Yes, to clarify, I am not using expo.

[2020-07-04 14:52] cieldon32 opened #97 "'Camera' is declared but its value is never read"
I do all, but When I import a svg, it show error: 'Camera' is declared but its value is never read

import Camera from './icons/camera.svg'

metro.config.js is right;
declarations.d.ts is right;

and i had runed: npx react-native link react-native-svg
but it isn't work

[2020-07-09 08:07] stackia opened #98 "SVGR no longer works on iOS release build after upgraded to RN 0.63.0"
After upgrading to RN 0.63.0, on iOS release build, icons no longer fills with my customized color in .svgrrc.

But on iOS dev build, Android dev/release build it works well.

[2020-07-10 05:53] josephbuchma commented on #97
#98 likely same issue

[2020-07-10 19:39] shubhamdeol commented on #83
@ananth-minions  what worked for you?

[2020-07-10 19:41] shubhamdeol commented on #6
any solution to this?
I am having same error using expo web

[2020-07-11 14:52] Piero87 commented on #97
I have the same problem

[2020-07-13 20:09] kristerkari commented on #98
Thanks, I need to check and verify this one.

[2020-07-15 03:57] stackia commented on #98
Looks like this is related to https://github.com/facebook/react-native/issues/29351, https://github.com/facebook/react-native/commit/a8e85026cfa60056b1bcbcd39cde789e4d65f9cb

`react-native bundle` will run from `ios` dir on RN 0.63. I added some `console.log` and found the transformer gets wrong relative paths when `react-native bundle` is launched from `ios` dir.

[code]

Output:

[code]

I have

[2020-07-15 07:06] kristerkari commented on #98
So is this a bug or a feature in RN 0.63? It seems like people are reporting that the bundling is not working for them, so I guess that this might get fixed in a patch?

[2020-07-15 12:57] bernardodesousa commented on #38
Using a config similar to @Simek's and restarting the Metro server solved the problem to me. However, Typescript isn't happy:

`Cannot find module './0.svg' or its corresponding type declarations. ts(2307)`

I don't if it even makes sense, but is there a way to "type" SVG files?

[2020-07-16 08:51] stackia commented on #98
It's a feature that allows `react-native` cli to run from project sub-directories. Before 0.63, `react-native` cli could only be started from project root. Now it can be started from `ios` / `android` directory (and RN 0.63 by default will run `react-native bundle` from the `ios` directory). https://github.com/facebook/react-native/commit/a8e85026cfa60056b1bcbcd39cde789e4d65f9cb

[2020-07-16 14:09] Aung-Myint-Thein commented on #98
I am having the issue on Android after updating to RN 0.63.1 .. any work around? Thanks!

[2020-07-16 14:33] kristerkari commented on #98
Sorry for being slow with this @stackia. From the linked commits it seems that this is caused by a small feature on iOS, but in reality it breaks all 3rd party transformer plugins for React Native.

Before making any fixes, I want make sure that I understand what the problem is and what is a correct fix for it. For now I would recommend to stick with React Native 0.62 instead of the new 0.63 until

[2020-07-16 14:39] kristerkari commented on #97
@cieldon32 Which version of React Native and react-native-svg are you using? I can't really help out without more information.

[2020-07-19 04:58] Aung-Myint-Thein commented on #98
Weird.. In some of my devices, the svg is showing up. In some of the devices, it show up sometimes. The behaviour is not very consistent. Could there be some config issue?

[2020-07-27 03:25] bjackson commented on #98
FWIW, I have the same issue on 0.62.2 and in dev.,

My react-native-svg-transformer version is 0.14.3, and my react-native-svg version is 12.1.0.

My .svgrrc:
[code]

My metro.config.js:
[code]

[2020-07-27 09:51] kristerkari commented on #98
So, I'm currently waiting for someone from the React Native team to comment somethin on these open issues & PR, and I'll release a new version of the transformer with a fix if it's not getting fixed in React Native.

Issues:
https://github.com/facebook/react-native/issues/29351, https://github.com/facebook/react-native/issues/29356

PR:
https://github.com/facebook/react-native/pull/29477

[2020-07-27 17:53] negrudev commented on #97
happens to me too:

"react-native": "^0.62.2",
"react-native-svg": "^12.1.0",
"react-native-svg-transformer": "^0.14.3",

[2020-07-30 11:16] lai32290 opened #101 "Unable to resolve *.png after setup the svg transformer"
Hi guys, I've installed the `react-native-svg-transformer` and `react-native-svg`, but after that, I'm not able to import `PNG` files anymore.

I'm using:

[code]

I've already added `.babelrc`
[code]

and `metroconfig.js`

[code]

I'm importing `PNG` to use in `ImageBackground`:

[code]
Is there some config that is missing?

[2020-07-30 11:33] #101 closed

[2020-08-01 19:09] LeslieOA commented on #97
I was having the exact same problem with:

[code]

Removing `fill-rule="evenodd"` worked perfectly for me. Thanks @negrudev!

[2020-08-04 10:16] pr0gramista opened #102 "Path tag with xmlns:default="http://www.w3.org/2000/svg" is breaking the build"
Hi, I noticed that the plugin is removing namespaced attributes from svg tag, but it's not doing that on the path tag, which in my case had `xmlns:default="http://www.w3.org/2000/svg"` which was triggering an error/warning causing the build to fail. Removing it from the svg manually did fix it, but it wasn't obvious solution for me at first.

I even had to create a SO question:
https://stackoverfl

[2020-08-05 14:48] Pierre-CLIND commented on #93
same issue :/

[2020-08-06 08:34] ManigandanRaamanathan opened #103 "error Couldn't find package "@svgr/core@^4.3.3" required by "react-native-svg-transformer" on the "npm" registry."
getting this error when try to install this library in react native 0.63.2

error Couldn't find package "@svgr/core@^4.3.3" required by "react-native-svg-transformer" on the "npm" registry.
info Visit https://yarnpkg.com/en/docs/cli/add for documentation about this command.
Error: Couldn't find package "@svgr/plugin-svgo@^4.3.1" required by "react-native-svg-transformer" on the "npm" registry.

[2020-08-06 10:30] ManigandanRaamanathan commented on #103
@kristerkari

[2020-08-07 03:27] youcefislam commented on #29
i had the same issue, after i checked the metro.config.js, i found out that i was wrong

old :
`const { getDefaultConfig } = require("metro-config");

module.exports = (async() => {
    const {
        resolver: { sourceExts, assetExts }
    } = await getDefaultConfig();
    return {
        transformer: {
            babelTransformerPath: require.resolve("react-native-svg-transformer"),

[2020-08-07 07:06] kristerkari commented on #103
I tried installing the library and it worked, so might just be some temporary problem in the npm registry. Could you please try again?

[2020-08-07 07:08] #103 closed

[2020-08-07 07:08] kristerkari commented on #102
I have reported this to SVGR before, but I'm not sure if anything was done to fix it:
https://github.com/gregberge/svgr/issues/271

[2020-08-07 07:08] ManigandanRaamanathan commented on #103
Yep. It is fixed now

[2020-08-07 07:09] kristerkari commented on #102
I could of course also remove any attributes that start with `xmlns:default` too.

[2020-08-13 04:27] dolphinflow86 commented on #29
@youcefislam Thanks for the solution. It's working like a charm!!

[2020-08-18 08:03] moh3n9595 commented on #6
Same issue in bare react-native project 0.63.2

[2020-08-19 06:44] WeeCoopTech opened #104 "Babel error"
Hello,
I've followed the instructions and also those of react-native-svg-transformer but I get this :

_`transform[stderr]: [BABEL] Note: The code generator has deoptimised the styling of C:\Users\Administrateur\Desktop\unknown as it exceeds the max of 500KB.`_

Do you have any idea of how I can make it works ? Thanks a lot

[2020-08-19 11:33] kristerkari commented on #104
@WeeCoopTech is possible for you to upload your project somewhere where I can have a look at it? Otherwise it's very difficult to say anything about the error.

[2020-08-19 11:42] WeeCoopTech commented on #104
Hello, thank you for answering quickly ! I found the problem, it was the extension, I did the mistake of not changing svg in svgx. I'm sorry.

[2020-08-19 11:55] kristerkari commented on #104
No worries!

[2020-08-19 11:55] #104 closed

[2020-08-23 02:57] cmcodes1 opened #105 "fill prop not working for svg file!"
Hey! @kristerkari I was looking for a way to change the color of the svg icon ( just like in #4 ).
Going through the docs, so far I've tried this:

Imported the svg file in the project.
```import Shop from '../Components/Assets/shop.svg';```

Used the svg file.
```<Shop width={'100%'} height={'30%'} fill={'red'} />```

Created a ```.svgrrc``` (no extension) file in the root of the project containi

[2020-08-24 11:52] kristerkari commented on #105
That looks correct to me. Anu chance that you can upload your project somewhere, so that I can have a look at it?

[2020-08-25 06:35] burhan3759 commented on #105
Same here, I have the same issue.

it only work with "#000"

[2020-08-25 06:37] kristerkari commented on #105
@burhan3759 please provide some example of your problem, otherwise it's impossible to help you.

[2020-08-25 07:23] burhan3759 commented on #105
Sure, sorry for giving with lack of info. I had the exact similar problem with @cmcodes1

1. When I change the fill in "ArrowLeftIcon" to some color it does not work
2. when i change the fill in SVG icon to #000000, then it works
3. I already added the #ffffff in svgrrc

Here is my svgrrc:

[code]

Here is my SVG icon:

[code]

Here is how i use the icon:
[code]

Version of Libraries:
"react-nativ

[2020-08-26 06:21] mofmn commented on #105
I have a similar issue, mine works sometimes and i cant explain why, and i cant reliably control the colour. it seems to me like its an issues with the .svgrrc file being loaded, as i had a universal transformation
 `{
  "replaceAttrValues": {
    "black": "red"
  }
}`

And one svg was following this rule while it no longer existed, i tried to restart everything. Perhaps did not run a clean build.

[2020-08-26 14:02] dbenfouzari opened #106 "Problem with Jest mock"
I'm trying to get it to work with Jest.

So I did
[code]

And my Jest config is
[code]

With that in place, I get a Jest error

    Configuration error:

    Could not locate module ./step1.svg mapped as:
    /Users/dbenfouzari/Projects/xxxx/__mocks__/svgMock.js.

    Please check your configuration for these entries:
    {
      "moduleNameMapper": {
        "/\.svg/": "/Users/dbenfouzari/Project

[2020-08-26 14:26] dbenfouzari commented on #106
Hm... That's better when I name it correctly `svgMocks.js`
Good job

[2020-08-26 14:26] #106 closed

[2020-08-31 20:19] AnayoOleru commented on #35
How about those not using expo?

[2020-09-03 10:24] SebinLee commented on #93
@joebochill It works thanks!

[2020-09-06 21:42] LRNZ09 opened #107 "Upgrade to latest @svgr/core version"
As the title says, it would be nice to have the latest version of `@svgr/core`, to also support some of the newest config options like `memo`.

[2020-09-08 07:41] JiboStore commented on #87
Hi, I'd like to refer to the filename itself from the component to uniquely identify the <SvgComponent/> is there a way to do so?

[code]

[2020-09-11 22:36] kodagabriel commented on #97
Removing fill-rule="evenodd" worked for me too! Thanks!

[2020-09-15 23:26] jmunozDevsu commented on #98
any news about this?

[2020-09-23 06:41] vishaljani27 commented on #8
I've same issue with react-native version 0.62.2

[2020-09-23 08:13] kristerkari commented on #107
Sure thing, I can release a new version.

[2020-09-23 08:17] kristerkari commented on #98
@jmunozDevsu It looks like this got fixed in React Native, but there hasn't been a new version yet: https://github.com/facebook/react-native/pull/29477

[2020-09-24 07:27] vick16ach opened #108 "Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: number."
I just followed the tutorial and got this error.

All i have is
[code]

[code]

[code]

Tried everything but couldn't be able to solve it. I'm not using EXPO. Kindly anyone help me.

[2020-09-25 19:41] jmlavoier commented on #105
I had the same issue in Android, I'm not using expo. The resolution for me was

- 1. I've stopped the metro server and closed the emulator
- 2. Cleaned the build project `$ cd android`, `$ ./gradlew clean`
- 3. Restarted the  metro server with reset-cache `$ yarn start --reset-cache`
- 4. Run android again `$ yarn android`

After I've done this, I didn't have to clean the build anymore. I just had

[2020-09-30 07:46] lyseiha commented on #108
https://github.com/kristerkari/react-native-svg-transformer/issues/29#issuecomment-670301147

[2020-09-30 09:59] kristerkari commented on #98
I haven't had time to try out yet, but this issue should be fixed in the latest 0.63.3 patch version:
https://github.com/facebook/react-native/releases/tag/v0.63.3

[2020-09-30 10:01] kristerkari commented on #108
Like @lyseiha mentioned, most likely your configuration file (`metro.config.js`) is not setup correctly.

[2020-10-08 12:39] christophby commented on #6
Same issue. My declarations.d.ts is in the root.
Package 0.14.3 (currently latest)
Typescript 4.0.3
RN  0.63.3
![image](https://user-images.githubusercontent.com/12933672/95459321-c4a57980-0973-11eb-856a-328982fa3777.png)

[2020-10-08 12:56] christophby commented on #6
My issue was fixed by **NOT** putting the declarations.d.ts file in the root
Here's my PR by mentioning this in the README  https://github.com/kristerkari/react-native-svg-transformer/pull/109

[2020-10-08 14:34] kristerkari commented on #108
Closing this since there seem to be no further discussion about the problem, and it might already be solved.

[2020-10-08 14:34] #108 closed

[2020-10-15 06:46] iamabdulhaseeb commented on #24
@kristerkari Actually I want to overlay a scrollview over the svg but the scroll is not working :(

[2020-10-15 09:58] kristerkari commented on #87
@JiboStore not at least directly using this library. You would need to come up with a custom solution.

[2020-10-15 09:59] kristerkari commented on #98
Closing since this has been fixed in React Native version 0.63.3. Please update to that patch version.

[2020-10-15 09:59] #98 closed

[2020-10-22 04:45] hakuna0829 opened #110 "react-native-svg-transformer doesn't work local svg file with View config error"
Hello, Super!

I want to display local svg file as responsive background for login screen using react-native-svg-transform.
But, it displays view config error like this screen.
https://prnt.sc/v49xbe

- My configuration is like this.
OS: Windows 10,
Editor: VS code,
node: v12.19.0
yarn: 1.22.4

- from package.json

"expo": "~39.0.2",
"react": "16.13.1",
"react-dom": "16.13.1",
"react-native": "~0.

[2020-10-27 19:03] Thorugoh commented on #106
Obrigado cara, seu problema era a minha solução tu és um baita.

[2020-10-28 17:58] kylemh commented on #32
I'm also seeing many SVGs that don't render at all or render in a very broken state.

[2020-10-29 22:30] dani-mp opened #111 "Bug transforming SVGs with fill="none" and fill-rule="evenodd""
Input SVG file:
[code]

output:
[code]

Note how `fill-rule="evenodd"` is gone in transformed output.

If we remove `fill="none"` from the original SVG file, the `fill-rule` in `path` is respected.

[2020-10-30 10:35] kristerkari commented on #111
Thanks! Hmm.. maybe SVGO is removing that property.

[2020-10-30 10:36] kristerkari commented on #110
What does the SVG image look like? Can you paste its code here or somewhere else where I can have a look at it?

[2020-10-30 16:58] dani-mp commented on #111
@kristerkari are you aware of any workaround we can apply till it's properly fixed?

[2020-11-02 10:53] stigi commented on #111
@kristerkari is there an easy way to disable SVGO completely?

[2020-11-02 11:24] dani-mp commented on #111
@stigi I think via this property: https://github.com/gregberge/svgr/blob/master/website/src/pages/docs/options.mdx#svgo

[2020-11-04 16:51] sypl commented on #105
Also having the same problem, this config:
[code]

... does not work with this
[code]

I'm having to replace "#02024D" with "@fill" in svg file and then
[code]

[2020-11-04 22:41] sypl commented on #50
I was getting this error, trying to replace "@fill". For some reason the space before the closing tag is important.

This works:
[code]

This doesn't (throws warning `"@fill" is not a valid color or brush`:
[code]

Can you spot the difference? It's the end of line 2:

Good:
[code]

Bad:
[code]

Even weirder is that it doesn't cause a problem on line three, which ends:
[code]

[2020-11-05 19:41] KPS250 commented on #105
Could not change color for svg  with config file

.svgrrc
`{
  "replaceAttrValues": {
    "#000": "{props.fill}",
    "#000000": "{props.fill}",
  }
}`

SVG Use:
`
import Ribbon from '../../../assets/icons/ribbon.svg';
<Ribbon fill="#4D4D4D" height="150" width="150" />

`

SVG file
`<svg xmlns="http://www.w3.org/2000/svg" width="100" height="30" viewBox="0 0 100 30">
    <g fill="none" fill-rule="

[2020-11-07 13:18] pascalhuszar commented on #89
@Beetix did you found a solution or some kind of workaround? Have the same problem

[2020-11-07 13:27] jtojnar commented on #89
This is only used for Android and iOS, for Web I found that I needed the following `webpack.config.js`:

[code]

For completeness, this is what I added to `package.json`:

[code]

and for Android into `metro.config.js`:

[code]

I also have added the following to `app.json` but have no idea if it is necessary:

[code]

[2020-11-08 14:51] mhammerc commented on #105
@KPS250
I exported my SVG from Figma and it set the property `fill` inside the `<svg>` to `none`.

`<svg fill="none">`

When that happen, every `<path>` (which are inside `<svg>`) are not getting colored, even if they are `<path fill="#000000">`.

To fix the issue, I had to change `fill="none"` to `fill="#000000"` inside the `<svg>` element.

[2020-11-09 08:09] KPS250 commented on #105
@mhammerc yeah I found this later. Thanks for the help

[2020-11-10 13:33] Lifa-7 commented on #7
Hello!
I have a question. Is it possible to change the color if it is set for group in svg? Or does it only work for the props set in path?

[2020-11-10 18:05] sypl commented on #93
Yes, it would be really nice to have the default if the prop isn't provided. I'm having to wrap the directly imported SVGs to get around this, which make it... an indirect direct import.

[2020-11-11 13:40] Wituz commented on #105
In Expo, it works after I clear the cache.

`expo r -c`

It does not seem like the hot reload pick up changes in .svgrrc, so I have to clear the cache every time I make a change with the command above.

[2020-11-12 13:47] kristerkari commented on #110
Closing this because of inactivity. Let's open it again if something new comes up.

[2020-11-12 13:47] #110 closed

[2020-11-14 21:48] antonioreyna commented on #97
how do you set the fill on the Camera svg file?

[2020-11-15 19:03] habovh opened #112 "Cannot pass PlatformColor or DynamicColorIOS as fill prop"
Hi,

I've been using the library for quite a while now, and I'm in the process of implementing Dark Mode on the app.

However, it seems that the transformer won't accept `fill` props with colors that came from the new [PlatformColor](https://reactnative.dev/docs/platformcolor) or [DynamicColorIOS](https://reactnative.dev/docs/dynamiccolorios) React Native APIs.

Not sure exactly if the culprit is

[2020-11-16 12:11] kristerkari commented on #112
Thanks @habovh! Could you please paste the code that you are using here? It would make it easier to reproduce the problem.

Anyway, it looks like the final `fill` value is a result of calling the `.toString` of an object, so maybe the value that gets passed to `fill` is an object instead of a string.

[2020-11-16 12:23] habovh commented on #112
Hi @kristerkari, sure thing!

You're actually pointing right at the problem: these colours should not be transformed to strings, but used directly by the underlying native components. I know the API is quite new on React Native's side, so I'm not quite sure how this can translate for a library like svg-transformer, but in my opinion it's a feature that would make a lot of sense.

Here's a snippet

[2020-11-16 13:06] kristerkari commented on #112
@habovh before I try out your code example, are you using the SVGR configuration to replace SVG image fill attribute with the react property? (https://github.com/kristerkari/react-native-svg-transformer#changing-svg-fill-color-in-js-code)

If not, then can you try to enable it and restart the Metro packager?

[2020-11-16 16:04] habovh commented on #112
@kristerkari I just tested and I can confirm the issue still occurs with the SVGR configuration.

On a sidenote, I did not need to add the custom config for the `fill` prop to work (using string-based colours).

[2020-11-16 16:59] kristerkari commented on #112
@habovh ok after having a look at what those React Native APIs actually do, I realized that they don't return simple colors, but instead an object like `dynamic: { light: "#ff00ff", dark: "#00ffff" }`.

The reason why it does seems to be that `react-native-svg` library does not have support for those APIs yet and can't render the result correctly:
https://github.com/react-native-svg/react-native-s

[2020-11-16 17:02] habovh commented on #112
@kristerkari makes total sense. I guess the ball is in react-native-svg's camp now. Thanks for the reactivity though!

[2020-11-16 17:14] kristerkari commented on #112
I'm not sure what you are doing exactly, but as a workaround something like this could be done:

[code]

[2020-11-16 17:25] habovh commented on #112
@kristerkari it's actually a functioning workaround, however using the `useColorScheme` hook would trigger a component render in JS again. Using PlatformColor or DynamicColorIOS directly would avoid this, because the visual appearance of the color would be changed by the system directly.

[2020-11-18 10:49] TomPeak commented on #6
Working with Expo … same error. PLZ help.

[2020-12-02 11:03] grit96 commented on #42
@buzbohdan any idea how to get that working with flow and jest?

Flow throws the following error:
[code]

And Jest sees the SVG component as undefined using the supplied `svgMock.js`.

I managed to get `require(...).default` working in jest by using the following mock, but then importing the SVG results in `{ default: 'Svg' }`.

[code]

[2020-12-02 12:06] grit96 commented on #42
I got it working with the following flow type definition and jest mock.

`flow-typed/svg.js`
[code]

`.flowconfig`
[code]

`__mocks__/svg.js`
[code]

Now it works with both `import ... from '...'` and `require('...').default`.

[2020-12-09 11:12] hainguyentien commented on #59
@kristerkari I still got this error. Can you help me?
"react-native": "0.63.3",
"react-native-svg": "^12.1.0",
"react-native-svg-transformer": "^0.14.3",
![Simulator Screen Shot - iPhone 12 mini - 2020-12-09 at 18 10 56](https://user-images.githubusercontent.com/36818841/101622675-f1e0d780-3a49-11eb-9b89-7a365cdbeb49.png)

[2020-12-13 13:28] Bushuo opened #113 "babel plugin not loaded causing crash with react-native-reanimated v2"
### Description
I use `react-native-reanimated@2.0.0-rc.0` which requires me to use a plugin for babel.
Important to say is my project is a monorepo with yarn workspaces.
[code]
If I use
[code]
the app crashes silently. Only `logcat` outputs a seemingly unrelated error caused by the plugin not being loaded.

I fixed this by creating
[code]
This loads `metro-babel-transformer` instead of `metro-rea

[2020-12-15 13:50] rosskhanas commented on #112
Unfortunately, this workaround does not work with `PlatformColor` 😢

[2020-12-21 15:08] aas395 opened #114 "Metro/expo config makes google fonts stop working"
I installed the react-native-svg-transformer package according to the directions. My app is also using these three packages:

"@expo-google-fonts/nunito-sans": "^0.1.0",
"@expo-google-fonts/roboto": "^0.1.0",
"@expo-google-fonts/source-sans-pro": "^0.1.0",

After creating the metro.config.js file and updating app.json, my app crashes on reload with this error: 'Unrecognized font family 'NunitoSans

[2020-12-22 08:34] jpetera54 opened #115 "Unable to resolve module - without using Expo"
Hello, I've been trying to use this library, but I got stuck at this error while importing.

`import CatFoods from '@assets/svg/cat-foods.svg';`

Error:
`Unable to resolve module '../../assets/svg/cat-foods.svg'`

I am using: `"react-native": "0.63.4"`, `"react-native-svg": "^12.1.0"`. Also, I use typescript and I have Jest installed, but I haven't written any tests. I am not using Expo. React nat

[2020-12-23 03:22] gasolin opened #116 "the config breaks icons in @expo/vector-icons in EXPO 40"
apply config https://github.com/kristerkari/react-native-svg-transformer/blob/master/README.md#for-react-native-v057-or-newer--expo-sdk-v3100-or-newer

in Expo 39 looks fine, but in Expo 40 it breaks the icons in @expo/vector-icons with
`Unrecognized font family 'ionicons'`  error

https://github.com/expo/vector-icons/issues/152

remove `sourceExts` make @expo/vector-icons import works again but t

[2020-12-23 07:34] gasolin commented on #116
as https://docs.expo.io/guides/customizing-metro/ mentioned, should import `@expo/metro-config` instead of `metro-config` in expo 40

[code]

[2020-12-26 17:10] kiwina commented on #116
this works for me on expo
`
const { getDefaultConfig } = require("@expo/metro-config")
const defaultConfig = getDefaultConfig(__dirname)
const assetExt = defaultConfig.resolver.assetExts.filter((ext) => ext !== 'svg')
module.exports = {
  transformer: {
    babelTransformerPath: require.resolve("react-native-svg-transformer"),
  },
  resolver: {
    assetExts: [...assetExt],
    sourceExts: [...de

[2020-12-29 17:00] ksturner commented on #115
I hit this error too and found that including the following `packagerOpts` section in my `app.json` file worked to include those files.

[code]

[2020-12-29 23:09] roryabraham commented on #30
For me, the solution provided by @steobrien worked for react-native-web (directly using the svgr webpack loader), but not for the native platforms, where `react-native-svg-transformer` is internally using `svgr`. Does anyone have this working on web, iOS, and Android?

[2020-12-30 00:44] Jhounx opened #118 "Not working on Android"
Versions:
`   "react-native-svg": "12.1.0",
    "react-native-svg-transformer": "^0.14.3",
    "expo": "~40.0.0"
`

Error:
![image](https://user-images.githubusercontent.com/32176772/103322799-73f76700-4a1e-11eb-9e72-09f5b540085f.png)

This error only happens on android, i tested it on iphone 7p and it worked normally

Code:
![image](https://user-images.githubusercontent.com/32176772/103322886-e96

[2020-12-30 06:55] SohaibIbneAli commented on #105
try all solutions but no one is working.

[2020-12-30 14:13] divonelnc opened #119 "With Expo web: Failed to execute 'createElement' on 'Document'"
Hello,

I am using Expo 39's managed workflow.

I followed the installation instruction, created the `metro.config.js` file, and copy-pasted the content from the instructions. I also added the `packagerOpts` field to my app.json.

For testing purpose, I renamed my SVG file to logo.svg and used the following code in my app:

[code]

Unfortunately, I am now getting the error:
```InvalidCharacterErro

[2020-12-30 23:02] #118 closed

[2020-12-31 12:49] aas395 commented on #114
Seems to be related to this issue: https://github.com/expo/expo/issues/11333

This config works for me:

`const { getDefaultConfig } = require("@expo/metro-config");

const defaultConfig = getDefaultConfig(__dirname);

module.exports = {
  transformer: {
    babelTransformerPath: require.resolve('react-native-svg-transformer')
  },
  resolver: {
    assetExts: [
      ...defaultConfig.resolver.ass

[2020-12-31 12:49] #114 closed

[2021-01-03 08:45] mohammadameer commented on #105
@Wintus thank you very much this worked for me

[2021-01-04 08:16] #116 closed

[2021-01-04 08:17] kristerkari commented on #119
@divonelnc I just merged a PR to update the instructions for Expo, can you check the README again if that matches the config that you have in use?

[2021-01-04 08:21] kristerkari commented on #113
Hmm.. do you know what's the difference between these two?

[2021-01-04 09:54] divonelnc commented on #119
I tried to find what was changed. Is there something else than replacing
`const { getDefaultConfig } = require("metro-config");` with
`const { getDefaultConfig } = require("@expo/metro-config");`

and
`await getDefaultConfig();` with
`await getDefaultConfig(__dirname);`
?

If yes, unfortunately, it does not fix the issue. I am still getting the same error :(

It seems that these fixes are for SDK

[2021-01-07 15:22] qpre commented on #119
Same here, using expo 40 and the latest configuration from the README. It works fine on IOS and Android but fails in Web (as is trying to render a tag with the name being the base64 for the loaded SVG)

[2021-01-08 10:48] Bushuo commented on #113
Sorry no. I just know that `metro-babel-transformer` is the default string when console.logging `babelTransformerPath`

[2021-01-11 21:08] vlad-dewitt commented on #108
Same problem in iOS release variant. It works in debug, but not in release. When I'm trying to log the component, as example
[code]
It shows 5, number....
Any solution ?

[2021-01-12 20:03] NisuSan commented on #119
Nope, it isn't. I have updated my project to SDK 40 and still getting this error too =(

[2021-01-14 00:12] lanke96 commented on #108
I won't work for me either, and I tried the solution given in #29. I don't know what else to do.

[2021-01-14 14:02] kristerkari commented on #115
Hey @jpetera54! Can you upload your project somewhere where I could I have a look at it. From your description it's very difficult to know if for example the problem is in the config or just the path being wrong.

[2021-01-14 15:32] sreenath-n commented on #119
SVG import in `create-react-app` should be like [this](https://create-react-app.dev/docs/adding-images-fonts-and-files/#adding-svgs):
[code]
In native it should be like this:
[code]
The import syntax for `create-react-app`  is different from the syntax for native.
@kristerkari any way we can fix this ?

[2021-01-14 15:46] kristerkari commented on #119
@sreenath-n `create-react-app` has it's own syntax for importing things. It's not compatible with this SVG transformer. If you want to hack around it, you could always use tools like `patch-package` to modify the export in this library.

[2021-01-14 16:43] jpetera54 commented on #115
Hey.
I actually opt out and started using fonts instead of this library, as I needed a quick solution. I am not even sure that I could reproduce this bug.
Some possible lead though is that I am developing on Windows. And as that's not quite a norm I often run into problems related to my operation system. Maybe something with \ being used instead of / in paths?
I am just spinning ideas. Sorry that

[2021-01-14 16:43] #115 closed

[2021-01-18 00:36] CarbonyDK commented on #108
Same issue. In debug mode all is ok but ios release version crashes. I'm using yarn workspaces monorepo.

[2021-01-18 13:40] kristerkari commented on #108
@vlad-dewitt @lanke96 @CarbonyDK Is anyone of you able to provide me some kind of repository or the code how to reproduce the problem? It's very difficult to pinpoint what the problem might be just based on the information here.

[2021-01-18 13:48] vlad-dewitt commented on #108
@kristerkari, I have yarn workspaces project with two RN apps. The file structure is the same for any yarn workspaces repo:
packages
|-app1
|-app2
|-shared

My configurations for both 2 apps in the metro.config.js:
`const blacklist = require('metro-config/src/defaults/blacklist')
const { getDefaultConfig } = require("metro-config")
const path = require('path')

module.exports = (async() => {
  con

[2021-01-18 14:17] CarbonyDK commented on #108
@kristerkari I have the same environment configuration, but without expo. Maybe we have problem with relative path when ios release process wants to transform svgs in project? Or our metro-config doesn't triggered in release mode.. I think this is problem with yarn workspaces config or path config..

[2021-01-18 14:24] vlad-dewitt commented on #108
@kristerkari, this is ejected expo app, bare react native. I also tested if the config isn't triggered, but if I change any of these configurations, then the release version of the application crashes

[2021-01-19 07:30] kristerkari commented on #108
Hmm... that's possible yeah

[2021-01-19 09:42] CarbonyDK commented on #108
However I don't know how to configure that. @kristerkari  Can you check it with blank yarn workspaces project?

[2021-01-23 07:39] richardwu commented on #119
I am getting the same issue with SDK 40 with an expo managed app:

### Error
[code]

### Steps taken

I have placed my SVGs under `./src/assets/...`. An example import I'm doing is:
[code]

Notably, if I use `babel-plugin-inline-react-svg` as a plugin, it works like a charm on web: however it is not compatible with mobile.

### Config files

[code]

[code]

[code]
# package.json

{
  "main": "node

[2021-01-25 14:47] Mantisimo commented on #108
Same issue for me
Not using Expo, IOS variant.

    "react-native": "0.63.3",
    "react-native-svg": "^12.1.0",
    "react-native-svg-transformer": "^0.14.3",

[code]

Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: number.

[code]

[2021-01-27 17:17] hugoh59 commented on #108
Same issue in RN 0.63.4, never used expo.

[2021-01-27 17:19] hugoh59 commented on #29
Does not work for me.

[2021-01-28 09:24] sandropoluan opened #121 "Not working with RN 0.63.4"
Everything is set but got this error
`Invariant Violation: View config getter callback for component `<svg ....</svg>` must be a function (received `undefined`).`

[2021-01-30 11:08] vlad-dewitt commented on #108
metro bundler and these packages are dog shit, all tender and unreliable, just a shame...

[2021-01-30 13:13] kristerkari commented on #121
Hi @sandropoluan. I'm using the transformer with 0.63.4 and it's working fine, so it might be that there is something wrong with the SVG image that you are trying to import.

[2021-02-08 12:09] DooaRashidAnsari commented on #121
I am also having same issue with same version of RN

[2021-02-08 12:13] kristerkari commented on #121
@DooaRashidAnsari do you have an example of the thing that throws an error for you? It's really hard to help if you just say that you have the same problem.

[2021-02-08 21:19] andylacko commented on #119
Hello, my error looks something like this, followed the instalation guide using expo40 and native 0.63.4. Why do I get "base64" error?

[code]

[2021-02-09 12:09] Alonew0lfxx commented on #105
Also I fixed my problem by removing fill="white" in the `<path></path>` line
and changing the `<svg fill="none">` to `<svg fill="#000000">` also I restarted the metro server and actual app

Example:
Old
[code]
New
[code]

[2021-02-09 16:37] Sandeeprao69 commented on #115
Hi,
I am facing same issu, is there any way to resolve this?

[2021-02-10 11:24] RatebSeirawan commented on #121
I'm having a similar issue with RN 0.63.4, it was working perfectly on previous RN versions, after further debugging
the app just instantly crash on runtime, the error message that I'm receiving is on the native side
`Thread 1: "*** -[__NSArrayM insertObject:atIndex:]: object cannot be nil"`

Weirdly enough it only happens when the .svg file is big, if I remove the big svg files it works all of a

[2021-02-11 13:23] TamasFarago opened #123 "Element type is invalid: expected a string(for built-in components) or a class/function"
This is my code:

metro.config:
module.exports = {
  transformer: {
    getTransformOptions: async () => ({
      transform: {
        experimentalImportSupport: false,
        inlineRequires: false,
      },
    }),
  },
};

const { getDefaultConfig } = require("metro-config");

module.exports = (async () => {
  const {
    resolver: { sourceExts, assetExts }
  } = await getDefaultConfig();
  ret

[2021-02-11 21:41] raymondjacobson commented on #123
everything is working for me:
"react-native": "0.63.4",
"react-native-svg": "^12.1.0",
"react-native-svg-transformer": "^0.14.3",

Metro config is
[code]

Make sure to restart metro after installing!! (i.e. quit the terminal session that is running metro)

[2021-02-14 15:25] hcphoon01 opened #124 "InvalidCharacterError on web"
When transforming an svg to use in my header it works correctly on mobile but gives me this error on web
[code]
I'm importing the SVG using this `import Logo from '../assets/img/graphics/text_white.svg';` and adding to the JSX code using this `<Logo height={'75%'} width={'35%'}/>`

[2021-02-15 05:00] willtpwise commented on #119
I'm getting the same issue as well. Here's a reproduction: https://github.com/willtpwise/react-native-svg-transformer__not-working

[2021-02-15 21:29] SaltedBlowfish commented on #123
@TamasFarago I'm having the same error. Any luck?

[2021-02-15 22:10] TamasFarago commented on #123
I ended up using this method: https://www.youtube.com/watch?v=d1YFH3ifw2A&t=229s
You can import
import Svg, {
    Circle,
    Ellipse,
    G,
    Text,
    TSpan,
    TextPath,
    Path,
    Polygon,
    Polyline,
    Line,
    Rect,
    Use,
    Image,
    Symbol,
    Defs,
    LinearGradient,
    RadialGradient,
    Stop,
    ClipPath,
    Pattern,
    Mask,
  } from 'react-native-svg';

[2021-02-16 14:11] Oscar-Silva opened #125 "Problems with react-native-svg-transformer and typescript"
I decided to add typescript in a existing project and have a issue when a i works with import of .svg like a this
`import Icon from "../../../assets/Icon.svg";`

i tried configure metro.config.js
[code]

and add a declarations file

[code]

but it's not work for me, and i get the error

in terminal

![image](https://user-images.githubusercontent.com/46907491/108073906-579fa000-7047-11eb-8ce7-a5ab2

[2021-02-17 08:22] edwardigates commented on #125
At what level did you add the declarations.d.ts file?

[2021-02-17 11:37] Oscar-Silva commented on #125
i tried in differents path, but at the momento, declarations.d.ts file is in the root of project

[2021-02-18 18:26] potatoengineer opened #126 "Receiving a number instead of a string for element type"
I am trying to show a .svg file but I'm getting the following error:

`Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: number.
`
I am currently running this on iOS simulator:
- react-native 0.63.2
- react-native-svg 12.1.0
- react-native-svg-transformer 0.14.3

This is my _metro.config.js_ file:

[code]
I am import

[2021-02-18 18:44] potatoengineer commented on #126
It's my mistake -- I forgot to restart metro.

[2021-02-18 18:44] #126 closed

[2021-02-22 18:21] #125 closed

[2021-02-23 22:19] SaltedBlowfish commented on #123
@TamasFarago Thanks. I ended up simplifying my metro config to match exactly what the documentation shows and it's fine for now. Not sure if it will break my other SVG requirements from the UI package, however.

[2021-02-24 16:39] sbalay opened #127 "Add testID support"
This is a feature request, it would be nice to allow sending `testID` to components generated when importing `.svg` files. `testID` is a standard prop used by several testing frameworks like @testing-library/react-native or detox.

This prop is already available when using SVG from react-native-svg:

[code]

so it would be nice to be able to do the same in the following scenario

[code]

[2021-02-25 15:03] jcde commented on #123
for me it works on native, but not on web

[2021-02-25 19:16] smebdi commented on #45
Can you add this into the root of your project to handle the SVGs for web?  Do you need to do anything else?

[2021-02-26 11:16] kristerkari commented on #121
Just wanted to clear this up: this error is a native side error, so the problem that you encountered is most likely on the `react-native-svg` side.

[2021-02-26 11:17] kristerkari commented on #121
I'm closing this issue because it seems to just be a collection separate problems, and there is no code to reproduce any errors.

[2021-02-26 11:17] #121 closed

[2021-02-26 20:24] rasmusmerzin commented on #124
I had a similar error `InvalidCharacterError: String contains an invalid character` and did some console-logging.

When importing a SVG, the default import on mobile was a React component and on the web was a base64 string of the SVG.

I then tried to enable and disable `experimentalImportSupport` and `inlineRequires` in the `metro.config.js`, neither of which worked for me.

I mitigated the issue

[2021-03-01 15:33] cinemanja commented on #108
I have the same issue even with the new metro.config.js file structure. RN version 0.63.4

[2021-03-04 17:49] AtmasApps opened #128 "The metro config module seems to break icons in Expo SDK 40"
I'm not sure exactly who is to blame, but I have isolated this problem down to an alteration requested by react-native-svg-transformer, so I'm logging this Issue here for your review and for posterity to others that may want to try this workaround.

Implementing the step to create the file metro.config.js that is titled "For React Native v0.57 or newer / Expo SDK v31.0.0 or newer" found on "https:

[2021-03-11 22:45] introbeginner opened #129 "dynamic import with array"
Hi,

I am using this module usefully. Thanks,

Dynamic import doesn't work with array.
svgPaths = ['../svg/temp1.svg', '../svg/temp2.svg']
import(svg[0]);

and this doesn't work, too
svgNames= ['temp1.svg', 'temp2.svg']
import(`../svg/${svgNames[0]}`)

'TransformError'  occured.

but, this works.
svgPath = '../svg/temp.svg'
import(svg);

how can i use SVG with Dynamic import & svgPath list

I don'

[2021-03-14 12:31] introbeginner commented on #129
This problem is just dynamic import in React-native.
So I close this

[2021-03-14 12:31] #129 closed

[2021-03-15 08:07] kristerkari commented on #128
Thanks for sharing this @AtmasApps !

I am myself not using Expo, so it might be that the instructions in the readme get outdated when Expo releases new versions.

If you notice that there are changes to the install process, please contribute a PR to update the install instructions, so that everyone can get the updated install instructions 👍

[2021-03-15 08:09] kristerkari commented on #127
Thanks @sbalay ! I don't know if `SVGR` or `react-native-svg` have support for the `testID` property or not. To find that out, you could test using just plain `react-native-svg` components and see if the `testID` property works there.

[2021-03-15 08:15] sbalay commented on #127
Thanks @kristerkari! testID works fine when using the SVG component from `react-native-svg`:

[code]

Not sure if that's what you meant though

[2021-03-15 09:13] kristerkari commented on #127
Yes, that's what I meant! I think that the problem might be in SVGR then.

[2021-03-15 17:57] alfalcon90 commented on #113
Thanks, @Bushuo. Adding `customTransformer.js` to the root folder and replacing this line in `metro.config.js` fixed it for me:
[code]

[2021-03-16 04:41] teamzz111 opened #130 "React Native 0.64"
Running 0.64 with Android I've the following error:

Validation Warning:

  Unknown option "t" with value {"babelTransformerPath": "/Users/andreslargo/Develop/chamba-app/node_modules/react-native-svg-transformer/index.js", "getTransformOptions": [Function getTransformOptions]} was found.
  This is probably a typing mistake. Fixing it will remove this message.

warning: the transform cache was rese

[2021-03-18 13:05] pascalrhmdi opened #131 "Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object."
i used Expo, here my package.json:
[code]

i just followed the tutorial but i got this.

[code]

[2021-03-22 07:13] kristerkari commented on #130
I haven't tried the library with 0.64 yet, but I'll try it out later.

[2021-03-24 14:31] tgwow commented on #128
Thanks @AtmasApps , this solves my problems with fonts and icons that weren't being loaded

[2021-03-25 20:03] tukaAlalami commented on #131
i am also have this issue any help ?

[2021-03-31 15:43] aboozaid commented on #131
check if you restart metro before launching the app!

[2021-04-08 15:22] gabrielmoncea commented on #130
I've tried in multiple projects and this library works fine. You should refollow the docs

[2021-04-11 16:23] bendelonlee commented on #29
Got the svgs to import and display using the configuration described by @youcefislam  and others. But, a side effect of changing the config is none of my fonts load. I only get the app to load by commenting out all font styling. Any ideas what could be the cause of this?

[2021-04-11 23:40] bendelonlee commented on #29
It was the issue described here:

https://github.com/expo/expo/issues/11333

My fault for taking a solution from an outdated thread. Apparently, sdk 40 and above wants metro to be configured as described here:

https://docs.expo.io/guides/customizing-metro/

[2021-04-12 04:55] pjivers-bom commented on #34
If anyone is using `require('xxx.svg').default`, your svgMock.js should look like:

[code]

[2021-04-12 23:54] bendelonlee opened #132 "Add Expo SDK 40 documentation to npm"
It's up to date in the Readme.

Thanks for making and maintaining react-native-svg-transformer, very useful!

[2021-04-19 13:22] Luk-kar opened #133 "README doc casting type React.FC<SvgProps> on {...props}"
# Where?
https://github.com/kristerkari/react-native-svg-transformer#using-typescript

# What to add?
If you want to spread unknown props into the component you have cast type `React.FC<SvgProps>` on it.

`
<Logo width={120} height={40} {...props as React.FC<SvgProps>}/>
`

# Why?
It took me a while to get why I had an error. Yeah, I know that it looks obvious at first, but I will know it earlier

[2021-04-23 21:59] devWaleed opened #134 "SVG not showing"
Hey, I have the following SVG images and they are not showing in my app.

Box: https://www.flaticon.com/svg/vstatic/svg/3037/3037049.svg?token=exp=1619215582~hmac=eccfbe11d17ccf10dbf5b636ff824bba

Trending: https://www.flaticon.com/svg/vstatic/svg/1946/1946432.svg?token=exp=1619215874~hmac=6468e87973f38bc103e95e953a783906

But this one is showing

Avatar: https://www.flaticon.com/svg/vstatic/svg/1

[2021-04-29 03:46] DrimZ commented on #119
encountered the same issue,

i solve this by adding ```babel-plugin-inline-react-svg``` as dev dependencies

then add this to your ```babel.config.js```

[code]

thanks to this guy https://github.com/boopathi/react-svg-loader/issues/197#issuecomment-377562447

[2021-05-01 13:42] lucassouza16 opened #135 "Unhandled Rejection (InvalidCharacterError): Failed to execute 'createElement' on 'Document': The tag name provided ('/static/media/....svg') is not a valid name."
src/index.js

[code]

metro.config.js

[code]

babel.config.js

[code]

declarations.d.ts

[code]

.svgrrc

[code]

app.json

[code]

package.json

[code]

Expo CLI 4.4.3 environment info:
    System:
      OS: Windows 10 10.0.19042
    Binaries:
      Node: 14.16.0 - C:\Program Files\nodejs\node.EXE
      Yarn: 1.22.10 - C:\Users\lucas\AppData\Roaming\npm\yarn.CMD
      npm: 6.14.11 - C:\Program

[2021-05-01 14:42] lucassouza16 commented on #119
I tried to implement this solution, the SVG loaded well, but I can't change the height, width, or fill through the properties.

[2021-05-02 18:37] lucassouza16 commented on #119
The problem has been open since last year, unfortunately the problem will not be resolved for the expo, all that remains is to fork and try to solve it, or create another one from scratch 🤦‍♂️, the worst thing is that I already wrote the app with this module  , and only now that I was running on the web did the problem reveal itself, do what, right?

[2021-05-04 15:23] angel-discover commented on #131
I was using require for the import, but you need to actually use `import XX from YY` from the looks of things.

[2021-05-06 01:05] lucassouza16 commented on #135
I created a temporary solution to the problem, whoever wants to try it feels free.

https://github.com/lucassouza16/react-native-svg-transformer-fix-expo

[2021-05-12 15:22] AlexandreMouyen opened #138 "App systematically crash when a svg is render"
Hello there,

I use react-native-svg-transformer: ^0.14.3,  react-native-svg: 12.1.0 and expo SDK 41.

When I use the lib and try to reload the app (with Expo), Expo app crashes all the time.
But when the app is auto-reload, it is working perfectly.
On published app, it is also crashing.

I noticed than it is only crashing when the component is rendered, not on import.

Do you have an idea?

Thank

[2021-05-13 09:32] AlexandreMouyen commented on #138
It is looks like it is only crashing when I use big Undraw SVG.

[2021-05-14 20:07] jailsonpaca commented on #121
I solve this problem with expo r -c

[2021-05-17 22:06] tsanjoto commented on #119
@DrimZ used that solution, although it makes the web expo works, it breaks the ios and android simulator.

The error:
`Invariant Violation: View config getter callback for component `path` must be a function (received `undefined`). Make sure to start component names with a capital letter.`

[2021-05-17 23:39] lucassouza16 commented on #119
How strange, because the webpack.config.js loader in theory should only have done it on the web platform, it shouldn't have any effect on mobile platforms, can you give me more details about the error? how it was configured, SDK Expo version etc.

[2021-05-17 23:49] lucassouza16 commented on #119
I created a temporary solution focused on the problem related to Expo, if you want you can take a look:

https://github.com/lucassouza16/react-native-svg-transformer-fix-expo

[2021-05-20 12:18] YogiHa opened #139 "Support `onLoad` prop"
Thanks for a great package!

My issue pop up cause of SVG usage inside Google Map `Marker`, where I should check carefully for `tracksViewChanges` and `shouldComponentUpdate`, but anyhow it seems like a great add on

[2021-05-20 16:21] RigottiG opened #140 "Black SVG filled on Android only"
Some SVG's is filled with black color on Android and iOS is working fine.

Android
![image](https://user-images.githubusercontent.com/13246770/119014178-15e80380-b96e-11eb-84bb-e98229a25cc2.png)

iOS is working fine.
![image](https://user-images.githubusercontent.com/13246770/119014256-2ac49700-b96e-11eb-8367-0283039e587f.png)

[code]

[2021-05-24 11:09] parmarkamlesh commented on #29
Cant import SVG
My metro.config.js is
[code]

My Svg file is stored in rootdir/images/cal_burning_icon.svg
Contents:

[code]

My very simple component is:
[code]

error i am getting. i verified that react-native-svg-transformer & react-native-svg are properly installed,
but still i am getting this error
[code]
anyone know how to fix. tried above answers. didn't fix my issue

[2021-05-25 06:20] bluenex opened #141 "Correct way to set metro.config.js"
I added this library to the project long ago when there wasn't `metro.config.js` file. I have just noticed when I upgraded React Native to version 0.64.1 that the `metro.config.js` is added to the `create-react-native-app`. So the file looks somethings like this:

[code]

and `metro.config.js` to use this library looks like this:

[code]

so what I think the correct way to merge them together is s

[2021-05-26 11:52] ivanjuliant commented on #105
this working for me , thank you.

[2021-05-27 22:34] bruscantini commented on #40
@kristerkari Which config are you referring to? I'm trying to follow your solution. Do you mean in the .svg file itself? Then I could only choose one color per file?

[2021-05-29 06:21] #105 closed

[2021-06-08 16:01] rvieceli commented on #141
@bluenex I used like your second example with one change, passing `__dirname` to `getDefaultConfig`.
[code]

[2021-06-12 22:13] MahmoudAziz1996 commented on #108
add the configuration to metro.config.js:

`const { getDefaultConfig } = require('metro-config');

module.exports = (async () => {
  const {
    resolver: { sourceExts, assetExts },
  } = await getDefaultConfig();
  return {
    transformer: {
      babelTransformerPath: require.resolve('react-native-svg-transformer'),
    },
    resolver: {
      assetExts: assetExts.filter(ext => ext !== 'svg'),

[2021-06-28 23:44] TheOmran commented on #38
@bernardodesousa create a directory at `./src/@types/assets` and add an `index.d.ts` file there with the following content.

[code]

[2021-06-29 17:03] lguardado opened #144 "Usage with Jest"
Hi!
I've configured my project following the [docs](https://github.com/kristerkari/react-native-svg-transformer#usage-with-jest) and I still can't get the tests working. I'm using `react-native-testing-library`
I'm trying to test just rendering a simple component and I get an error in the following line.

`  > 71 |   LOGO: (height, width) => <Logo width={width} height={height} />,` saying:
[code]

[2021-07-01 11:11] kristerkari commented on #144
Hmm.. really difficult to say, but my guess is that either the mock is not loaded, or then the contents of the mock file need to be updated for newer React versions.

[2021-07-01 16:24] lguardado commented on #144
@kristerkari thanks for the answer! If you mean the `__mocks__/svgMock.js` file, I had the same feeling.... I tried putting it in  `src/__mocks__` folder as well as in the root folder just in case, but the result was the same...

[2021-07-01 17:33] lguardado commented on #144
update: this is even more weird... I saw a warning now saying I should keep just one of those files so I kept the one in the root and started working just fine! so, I'll close this issue!

Thanks again @kristerkari for the help!

[2021-07-01 17:33] #144 closed

[2021-07-02 07:26] kristerkari commented on #144
@lguardado  good that you got it to work! Maybe some will have the same issue and find this Github issue useful :)

[2021-07-08 15:42] mrguzmanc commented on #29
@parmarkamlesh did you find any fixes?

[2021-07-08 18:28] kristerkari commented on #138
Yeah probably the SVG image is too big :(

[2021-07-11 23:12] kristerkari commented on #29
@parmarkamlesh I just tested your example with a fresh React Native install, and it's working just fine. I have a feeling that you might have forgotten to restart the packager after making your changes.

[2021-07-13 16:25] sina-ms opened #145 "Vulnurability in the merge-deep dependency used by current version of svgr/plugin-svgo package"
The version of `merge-deep` used by the current version of `svgr/plugin-svgo` package contains a vulnerability:

https://www.npmjs.com/advisories/1752

The latest version of the `svgr/plugin-svgo` package uses the `deepmerge` library instead which should not have the issue

Changing
[`    "@svgr/plugin-svgo": "^4.3.1",`](https://github.com/kristerkari/react-native-svg-transformer/blob/f10c8d579490

[2021-07-13 16:40] #145 closed

[2021-07-13 20:46] samih7 commented on #108
@hugoh59 @kurovskyi @vlad-dewitt Any chance you guys found a solution?

Facing the exact same issue using a NX monorepo (iOS release mode fails).

[2021-07-14 09:45] samih7 commented on #108
Fixed it by moving `metro.config.js` at the root level instead of `apps/my-app/`.

[2021-07-14 10:07] kurovskyi commented on #108
Thanks, I will try it soon and give feedback.

[2021-07-15 16:09] aminsaedi opened #146 "Not working with "expo": "~42.0.1","
Hi, I really need this lib. can anyone help?

[2021-07-18 13:07] knavels commented on #135
Hello any news on this issue?

[2021-07-18 15:12] kristerkari commented on #146
I'm not using Expo, but I have now some extra time, so I can have a look at checking how things are working with the latest Expo version.

[2021-07-20 12:19] mlecoq commented on #146
@aminsaedi It works with the following configuration in `metro.config.js`

[code]

[2021-07-20 19:30] henrhie commented on #105
try removing all 'fill=...' from paths only and leave fill='none' in main svg tag

[2021-07-20 20:06] aminsaedi commented on #146
I tried this but still noting rendered.
This my package.json file

`{
  "main": "node_modules/expo/AppEntry.js",
  "scripts": {
    "start": "expo start",
    "android": "expo start --android",
    "ios": "expo start --ios",
    "web": "expo start --web",
    "eject": "expo eject"
  },
  "dependencies": {
    "expo": "~42.0.1",
    "expo-status-bar": "~1.0.4",
    "react": "16.13.1",
    "react-do

[2021-07-21 05:12] mlecoq commented on #146
@aminsaedi can you share an example to reproduce the issue ?

[2021-07-21 06:31] aminsaedi commented on #146
Of course
there are command I ran
1-`expo init svgtest` then choose blank managed workflow
2-`expo install react-native-svg`
3-`yarn add --dev react-native-svg-transformer`
4-`nano metro.config.js` and paste code that you commented
5-add ```"packagerOpts": {
      "config": "metro.config.js",
      "sourceExts": [
        "expo.ts",
        "expo.tsx",
        "expo.js",
        "expo.jsx",

[2021-07-23 06:02] mlecoq commented on #146
@aminsaedi your svg is rendered but has no color

```<StoreFront width={50} height={50} fill="black" />``` fixes the issue

[2021-07-23 12:08] aminsaedi commented on #146
😑❤️🥲 Sorry . Thanks a lot

[2021-07-23 12:08] #146 closed

[2021-07-27 11:11] DevYuns commented on #105
It works for me. Thanks!

[2021-07-31 04:44] abhiburk opened #147 "Binding Click Event?"
Do we have any option to bind react-native onPress event on the SVG tag?

[2021-08-04 05:32] t3chcrazy opened #148 "Local SVG disappearing after returning from a given screen"
https://user-images.githubusercontent.com/43211102/128126864-51344805-dc43-40cb-823e-d115fb0b39ab.mp4

I am facing this bug where the local svgs disappear after navigating back from that screen which contains those svgs. In this case, the svgs are positioned absolutely on both merchant and refund list screen, but disappear as soon as I press back. Any help is appreciated.

react: 17.0.1
react-nati

[2021-08-04 17:56] kbanashek commented on #131
you cant `import`  inside of a module

[2021-08-10 10:25] Vuinfang commented on #29
after I restart the project, it works. So everyone, after you edit the file, restart the whole project.

[2021-08-19 16:35] stanislav-sidorov commented on #105
in SVG children add fill="currentColor", then you can style

[2021-08-19 16:58] Archisman-Mridha commented on #119
babel-plugin-inline-react-svg worked for me.

[2021-08-20 04:11] nysamnang commented on #131
I have the same issue, and here is how I resolve it:

1. Kill the terminal
2. Run `react-native start --reset-cache`
3. Run `watchman watch-del-all && rm -rf /tmp/metro-bundler-cache-* && rm -rf /tmp/haste-map-react-native-packager-*`
4. Re-run the project
5. Done!

Hope this can help!

[2021-08-20 09:26] RemyMachado commented on #6
Where should we put it?

[2021-08-24 21:15] pangolingo commented on #141
Using the recommended config, I encountered an error when using the `expo-asset` library. Expo Asset expects an `assetPlugins` transformer. Without it, there are no errors, but images don't show up in iOS release builds.

I fixed it by adding the assetPlugins config. Figured I would mention it here because it might be worth documenting.

Original `metro.config.js` (based on this library's document

[2021-09-01 23:15] gyoung-panopto opened #150 "fill-opacity and opacity are ignored in color replacement"
I'm having an issue where fill-opacity and opacity are ignored when doing color replacement.

For example, I'm using this svg:

`<svg width="306" height="167" viewBox="0 0 306 167" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect opacity="0.5" x="1.5" y="1.5" width="303" height="164" rx="4.5" stroke="black" stroke-width="3"/>
<rect x="183.5" y="93.5" width="109" height="60" rx="2.5" fill="whi

[2021-09-06 01:25] cvburgess commented on #135
Any way we can get @lucassouza16's work or another solution into a release?

[2021-09-06 02:01] lucassouza16 commented on #135
It was a temporary solution that I created for a project that was urgent to be completed, and I found it interesting to share, but little by little I'm not using this library to render svgs, and replacing it in the project with the conventional way, I thought that at this point this problem had already been resolved, but it seems that the author abandoned the project.

[2021-09-10 23:46] dpolivy commented on #141
I was running into a few issues with the `metro.config.js` promoted in the README and our Expo app, so wanted to report back here with my experiences and resolution. We recently upgraded to Expo SDK 42 and EAS Build. With the recommended config in the README, I'd get this warning when trying to do a build:

[code]

This is fixed, as others mentioned above, by adding the `assetPlugins` prop to `tra

[2021-09-14 04:26] Shaffle1 opened #152 "replaceAttrValues works only for last SVG"
Noticed that replacing `fill` attribute in svg works only for the last SVG inside one screen/file...

![Screenshot 2021-09-14 at 06 22 28](https://user-images.githubusercontent.com/23004287/133194650-7ca3c078-e2fb-4fdb-a593-8a08833f6941.png)
![Screenshot 2021-09-14 at 06 22 35](https://user-images.githubusercontent.com/23004287/133194662-39babab3-7cb5-42a2-afdf-ee98520c354a.png)

I have 2 SVGs in

[2021-09-14 05:47] kristerkari commented on #150
Looks like a bug in `react-native-svg`:
https://github.com/react-native-svg/react-native-svg/issues/1345

[2021-09-14 05:50] kristerkari commented on #152
@Shaffle1 Would you be able to provide some example app with the problem that I could try out?

[2021-09-27 14:29] MatheusRyuki opened #153 "Usage with jest"
I set up jest with mocks as explained in README. The point is that whenever I try to run the tests, I get this return that is in the image below.

![image](https://user-images.githubusercontent.com/27702844/134928834-9e1bfc02-555f-4a44-be45-430401004c78.png)

[2021-10-25 19:02] MichaelRand0 opened #154 "Does react-native-svg-transformer support shadows?"
Does react-native-svg-transformer support shadows? Are svgs with shadows imported? I've tried a lot of libraries and solutions, but it seems shadows can only be added manually :(

[2021-10-29 10:54] Anurag-Shrivastava opened #155 "kind-of Peer Dependency Upgrade"
### **Feature Request**

Hey,

Could you please upgrade the **"kind-of"** peer dependency to  6.0.3?

Our customers demand a security check and it fails over and over because of the old **"kind-of"** version used. You would save us a lot of work by doing that.

Thank you very much :)

[2021-10-31 08:24] boberbober commented on #112
It would be great if PlatformColor or some other API could return the actual color in hex or rgb or hsl.
Pass a UIColor Standard Color name to it and get a hex value.

[2021-10-31 08:43] whhotw commented on #34
@pjivers-bom You're saved my life.

[2021-11-02 07:57] kristerkari commented on #155
@Anurag-Shrivastava sure, I will have a look at doing that.

[2021-11-02 08:27] kristerkari commented on #154
Hello @LunaMoon05 ! The ` react-native-svg-transformer` only transforms the SVG files to a format that `react-native-svg` can understand, so you can try to see if `react-native-svg` supports shadows or not.

[2021-11-11 09:32] Siva-Leo opened #156 "Unable to resolve module ./dashboard_active.svg from project\src\assets\images\icons\index.js without expo"
**metro.config.js**
[code]

**Error**
![image](https://user-images.githubusercontent.com/68079920/141273654-3c5d5966-5a63-4d91-aacd-c3cc3f483531.png)

"react-native-svg": "^12.1.1",

"react-native-svg-transformer": "^0.14.3",

What I missed

[2021-11-11 09:35] Siva-Leo commented on #156
its take a day of my life....Pls give me the solution

[2021-11-11 11:14] Deodes opened #157 "Icons not rendered"
Icons in my app not rendered (on screen, not in tab bar). Maybe i did something wrong here?

<img width="472" alt="Снимок экрана 2021-11-11 в 13 06 08" src="https://user-images.githubusercontent.com/46958937/141287925-db4e4e7a-5500-4f75-ba63-1ed8b9c39992.png">

## screen
[code]

## metro.config.js

[code]
## Versions:
"react-native": "0.66.2",
"react-native-svg": "^12.1.1",
"metro-react-native-bab

[2021-11-13 09:10] adeyeanqar opened #159 "EXPO Error: [@RNC/AsyncStorage]: NativeModule: AsyncStorage is null."
Hi, I use expo to build my app, I just recently upgrade from SDK 38 to SDK 41, I looked at the depreciations.. But I keep getting this error

`Error: [@RNC/AsyncStorage]: NativeModule: AsyncStorage is null.

To fix this issue try these steps:

  • Run `react-native link @react-native-community/async-storage` in the project root.

  • Rebuild and restart the app.

  • Run the packager with `--reset

[2021-11-15 06:00] Deodes commented on #157
Fixed by reinstallation of libs

[2021-11-15 06:00] #157 closed

[2021-11-17 08:09] kristerkari commented on #159
@adeyeanqar Thanks,

This library is not related to the error, so I'm quite sure that the problems is elsewhere (related to @react-native-community/async-storage).

[2021-11-17 08:09] #159 closed

[2021-11-17 08:10] kristerkari commented on #156
@Siva-Leo do you have an example project with the error that I can have a look at?

[2021-11-20 01:47] noname181 opened #160 "react-native-svg and react-native-svg-transformer error in iOS"
I have installed react-native-svg and react-native-svg-transformer successfully in Android, but in iOS I get this error. Has anyone got it before, and what is solution for it? Hope your help, thank you.
react-native: 0.66.3
react-native-svg-transformer: 0.14.3
react-native-svg: 12.1.1

metro.config.js

`const { getDefaultConfig } = require("metro-config");
module.exports = (async () => {
const {

[2021-11-22 09:52] Siva-Leo commented on #156
No, i have an example project...but i will create a new one and try...if its occur i'll give you the repo link

[2021-11-22 13:28] kristerkari commented on #160
This has been discussed many times here before, no need to open a new issue about it.

The most common reason for this is either some misconfiguration, or then just that the Metro packager needs to be restarted.

Please have a look at the previous discussion: https://github.com/kristerkari/react-native-svg-transformer/search?q=type+is+invalid&type=issues

[2021-11-22 13:28] #160 closed

[2021-11-26 12:35] uwemneku commented on #105
For bare react-native project
adding a .svgrrc file to the root folder with the code
`{
  "replaceAttrValues": {
    "#000": "{props.fill}"
  }
}` worked for me

[2021-11-26 14:14] neetush commented on #131
@nysamnang Thanks!

[2021-11-29 15:23] Kallebe18 opened #161 "Icon from undraw.co doesn't work."
## Bug

When I try to add an icon from undraw.co the app breaks.
![Screenshot_90](https://user-images.githubusercontent.com/48997186/143895288-bd9f746a-ceb0-4262-b238-45a925ccbccd.png)

The app is working with different icons.

[2021-12-01 13:04] kristerkari commented on #161
The icon might have some properties that either `svgr` or `react-native-svg` don't know how to handle.

[2021-12-01 13:04] kristerkari commented on #161
Could you link the SVG file in question here?

[2021-12-01 13:21] Kallebe18 commented on #161
Here it is,
[undraw_job_hunt.zip](https://github.com/kristerkari/react-native-svg-transformer/files/7634149/undraw_job_hunt.zip)

[2021-12-02 07:56] Siva-Leo commented on #156
Problem in my SVG icon not in package

[2021-12-02 07:56] #156 closed

[2021-12-05 09:26] nabil-atechy commented on #105
thanks you save my day

[2021-12-07 22:58] bfricka commented on #161
`-darkreaderInlineFill` is not a valid style. Like the error screenshot you linked is doing a pretty good job of showing you the offending token, and if you did a little searching you'd find it's not a valid style attribute. This style is using a prefix `-` and the translation of the style attribute to a prop should transform this without error, although even if it did, React is going throw an err

[2021-12-07 23:24] bfricka opened #162 "Update to latest SVGR"
This package is a few versions behind SVGR. None of the links work any longer (e.g. options should point to [legacy docs](https://github.com/gregberge/svgr/blob/v4.3.3/website/src/pages/docs/options.mdx), but they link to 404). SVGR itself has had several updates that are relevant to this project. For one thing, there's a new `memo` option, which does exactly what you'd imagine. There's also a fix

[2021-12-09 09:47] ithustle commented on #125
@Oscar-Silva , what was the solution?

[2021-12-13 07:53] kristerkari commented on #162
The SVGR version should definitely be updated to a newer one.

[2021-12-14 08:41] kristerkari commented on #161
I will try to get a new version of the transformer out with a newer SVGR soon.

[2021-12-16 20:23] RicardoBrito1938 opened #163 "Jest mock issue"
Hello team, i am tying to test my component with jest, but i get the following error:

![image](https://user-images.githubusercontent.com/51454097/146443635-adf033c0-d773-4517-b91a-37e070892ee6.png)

this is what i have on my react-native-svg-transformer/svgMock.js

module.exports = 'SvgMock';
module.exports.ReactComponent = 'SvgMock';

and this is my jest.config.js

module.exports = {
  preset: '

[2021-12-16 22:35] bfricka commented on #162
[code]
I did it quick and dirty, since I know which transformer to use for my version, and hardcoded the config. But doing the config search and all the stuff you're doing now is still easy w/ the latest SVGR. Only real difference is main transform is async, which is what is recommended, but I don't know if this affects old clients. Sync methods do exist. Everything works well.

[2021-12-17 10:42] ReactRaylogic commented on #140
Hey how did you solved this.Is there any additional configurational changes we need to do for ios?

[2021-12-17 16:09] RicardoBrito1938 commented on #163
found my error, i thoght <rootDir> was an instruction to roo folder, so i removed it, that is why i got the error, after i added <rootDir> again, it worked as desired

[2021-12-17 16:09] #163 closed

[2021-12-17 18:05] Kallebe18 commented on #161
Thank you all.

[2021-12-21 08:12] kristerkari commented on #162
Thanks for this @bfricka !

I'll try to find time during the Christmas holiday to get some updates out for this library.

In the meantime Pull Requests are welcome (considering that there is some way of easily verify that the code changes work). :)

[2021-12-24 18:44] ritesh985 commented on #105
It worked. Thanks!

[2021-12-24 18:46] ritesh985 commented on #105
It worked. Thanks!

[2021-12-27 18:44] kristerkari commented on #162
I updated a PR to update SVGR to the latest version: https://github.com/kristerkari/react-native-svg-transformer/pull/164

I also created a new branch to the example app to try out the changes and to cleanup the transformer code for the upcoming version: https://github.com/kristerkari/react-native-svg-example/tree/updated-svgr

[2021-12-28 16:26] #141 closed

[2021-12-28 17:43] kristerkari commented on #162
Done and released.

Now I can start preparing the 1.0 version that will drop support for the really old React Native versions.

[2021-12-28 17:43] #162 closed

[2021-12-28 17:44] kristerkari commented on #155
This should be taken care of in the newest version.

[2021-12-28 17:44] #155 closed

[2021-12-28 23:56] MalekBouba commented on #141
I encountered the same issue, and as the warning said, it fails my android build, but, only when using:
[code]
but, not with
[code]
anyway, @dpolivy solution removed the warning but it doesn't fix the build.
error:
[code]
The standalone build still working.

[2021-12-29 19:10] bfricka commented on #162
Thanks @kristerkari

[2021-12-30 13:36] #130 closed

[2021-12-30 14:11] kristerkari commented on #161
This is now fixed in the latest version.

[2021-12-30 14:11] #161 closed

[2022-01-05 21:26] DwCleb opened #167 "React Native 0.66.4 - Invariant Violation: View config getter callback for component ..."
I've using the RN 0.66.4 version, react-native-svg ^12.1.1 and react-native-svg-transformer ^1.0.0.

I've this error for all tries that I did.

[code]
![Simulator Screen Shot - iPhone 13 - 2022-01-05 at 21 23 43](https://user-images.githubusercontent.com/30187750/148291458-b6fa6276-5a84-48d2-aac7-2f4bc90c96dd.png)

my `metro.config.js`:

[code]

So, the react-native-svg-transformer is not availabl

[2022-01-06 22:19] mattgabor commented on #135
Hi just wanted to check on the status of this - @kristerkari is there a way we can get this fix merged in? It's unusable on react-native-web without this fix.

[2022-01-06 22:21] kristerkari commented on #135
@mattgabor just open a Pull Request with the fix, and I can have a look at it.

[2022-01-06 22:27] mattgabor commented on #135
@lucassouza16 do you mind putting up a PR with the changes you made in react-native-svg-transformer-fix-expo? I'm also happy to make the PR but don't know exactly what was changed since your repo is not a fork.

[2022-01-06 22:53] lucassouza16 commented on #135
I don't think that in the short term my solution is interesting to be implemented as a final solution, but temporary, as I have little knowledge about webpack, I did it in a rough way to temporarily solve the problem in a project that had an urgent need to be delivered, using a loader that replaces imports referring to svg files with a component call on all files, but I predict that in a project w

[2022-01-06 22:59] kristerkari commented on #135
I would definitely be interested in fixing the support for Expo web, but I'm not sure how.

I have created a Webpack config that works with the normal React Native, but I have no idea of how to configure it for Expo.

Here's a reference for normal RN in case it helps:
https://github.com/kristerkari/react-native-svg-example/blob/master/webpack.config.js

[2022-01-07 03:28] kristerkari commented on #167
The demo app is running 0.66.4, and it's working fine there. To me it looks from the error like the metro config would not be in effect.

@DwCleb did you try to restart the Metro packager and rebuild the app?

[2022-01-07 06:34] mersiades commented on #141
I'm having similar problems with `eas build -p ios` and `eas build -p android`.

@dpolivy 's solution gets rid of the warning and allows the build to start, but then it fails in the fastlane stage.

Android:
[code]

iOS:
[code]

I've tried the two solutions on PR #151, but they both failed locally.

I've got no idea how to fix this one. Hoping someone can help.

[2022-01-08 19:48] lucassouza16 commented on #135
Another solution I developed was this one, although not the most correct either, was to add this code, I added it before the call `registerRootComponent(App);` in the index.js file, I think it's much less invasive than the previous one:

[code]

The error occurs, because when importing the file with svg extension into Expo Web, it will bring it in the form of a url, or in base64 format, the docume

[2022-01-08 22:13] lucassouza16 commented on #135
I forked the dependency and applied a solution proposal, if I find it interesting as a final solution:
https://github.com/lucassouza16/react-native-svg-transformer

[2022-01-08 22:13] lucassouza16 commented on #135
I forked the dependency and applied a solution proposal, if I find it interesting as a final solution:
https://github.com/lucassouza16/react-native-svg-transformer

[2022-01-08 22:47] kristerkari commented on #135
@lucassouza16 Thanks! I see that you added a README entry to configure Webpack for Expo. What I was wondering is that could it simply use `@svgr/webpack` (https://www.npmjs.com/package/@svgr/webpack) as the loader for SVG images instead of adding a custom loader?

[2022-01-08 22:56] lucassouza16 commented on #135
Using this loader was a solution I tried before, and despite the svg being rendered I couldn't change properties like width, height and fill, so I chose to create another shape, I don't have enough knowledge to create a better solution, as my knowledge about these technologies is still very superficial.

[2022-01-08 22:57] kristerkari commented on #135
Oh, I see. Well I'll try it out and report back to you :)

[2022-01-09 01:17] kristerkari commented on #135
@lucassouza16 @cvburgess @mattgabor

I had a look at adding the Webpack config for Expo, and I managed to find a solution from the Expo repo (https://github.com/expo/expo/issues/6660#issuecomment-667991626) that is kind of working.

The only bigger problem that I ran into is that the newest versions of SVGR only support Webpack v5, but Expo is still using Webpack v4. I managed to fix that in hacky

[2022-01-09 02:25] lucassouza16 commented on #135
Didn't know that, I'll try it next time, thanks!

[2022-01-09 02:58] mattgabor commented on #135
sounds good, I won't be able to try it out until Monday but the PR looks good to me!

[2022-01-09 06:24] MalekBouba commented on #141
This is my metro config:

[code]
I still having issues only when using:
[code]
but, when I use:
[code]
evrything goes as it should.
**-> I guess there are an inner difference between the two builders.**

the error: (PS: I added an ErrorBoundary to catch it on prod)
![Simulator Screen Shot - iPad (9th generation) - 2022-01-09 at 07 05 47](https://user-images.githubusercontent.com/22925467/148671535

[2022-01-09 14:42] lucassouza16 commented on #135
The solution you proposed worked perfectly, thank you very much, I only had to make some updates to web.config.js, because the svg viewBox was removed and the size was disproportionate.

[code]

[2022-01-09 22:10] raqso commented on #119
I saw that you removed the repository with the temp fix and just wondering if maybe you've found a better permanent solution for this?

[2022-01-09 22:16] lucassouza16 commented on #119
Yes, the author suggested a solution to me that solved the problem for me, you can remove the workaround and implement it:

https://github.com/kristerkari/react-native-svg-transformer/issues/135#issuecomment-1008310514

[2022-01-10 17:44] mattgabor commented on #135
I wasn't able to test it since when I pull the branch I get `Failed to construct transformer:  .../react-native-svg-transformer/node_modules/expo/AppEntry.js:1`

But if it fixes the issue and has @lucassouza16 changes above then I'd love to get it merged so we can start using this library again!

[2022-01-10 18:44] #135 closed

[2022-01-10 18:45] lucassouza16 commented on #135
I believe that this is no longer a library error, but the Expo version or cache, I ran my application in Web, in the Android emulator and in the iOS simulator using the latest version of the lib and the solution that the author suggested, and not gave no problem, my sdk is 39.

[2022-01-10 18:47] lucassouza16 commented on #135
You can try to run the cache clearing procedures and the problem will probably be resolved.

[2022-01-10 21:25] DwCleb commented on #167
@kristerkari  I created a new project to test, and I also got this error.
Should I upload it to you take a look? :)

[2022-01-11 18:28] kristerkari commented on #167
@DwCleb sure, I can have a look if you upload it somewhere :)

[2022-01-11 18:48] DwCleb commented on #167
@kristerkari
the repository with the demo project that I created:
https://github.com/DwCleb/SvgDemoApp-

[2022-01-13 10:57] rajAmukhliS commented on #105
### fill prop not working for svg file!

### Solution:
I solved this issue
**follow me to solve this**

**Steps**

1. Open the svg in editor as you can see in picture below
![image](https://user-images.githubusercontent.com/71121356/149316269-fe2ff0ac-9546-467b-baf2-dabdcb7c40a3.png)

2. Remove all fill prop from paths only (**only from path tags**) , And ensure that svg tag's prop **fill ='null'*

[2022-01-15 09:16] nguyenhoanglam commented on #144
@lguardado I've the same issue. Could you give me your mock configuration, please?

[2022-01-18 17:41] kito22 commented on #167
Same problem here, with:
RN 0.66.4
react-native-svg: 12.1.1
react-native-svg-transformer: 1.0.0.

When using elements from react-native-svg (Svg, Path) it works fine, but when using svg files, I have same issue "Invariant Violation: View config getter callback for component "

[2022-01-19 17:47] kristerkari commented on #167
@DwCleb sorry for the late response, but I had a look at your project, and it's the `babel-plugin-inline-import` that is messing things up. I tried removing that Babel plugin from your project and it fixed the error.

[2022-01-20 09:40] vish2595 opened #168 "React Native 0.65.1 - Invalid hook call. Hooks can only be called inside of the body of a function component. This could happen for one of the following reasons:"
ExceptionsManager.js:180
       Invariant Violation: Module AppRegistry is not a registered callable module (calling runApplication). A frequent cause of the error is that the application entry file path is incorrect.
      This can also happen when the JS bundle is corrupt or there is an early initialization error when loading React Native.

Getting this error. When I changed in merto.config.js

[2022-01-20 11:32] kristerkari commented on #168
@vish2595 This library is not using Hooks, so sounds like the error is coming from somewhere else.

[2022-01-21 11:53] kristerkari commented on #167
I'm closing this since the problem got resolved. Let's re-open if something new comes up.

[2022-01-21 11:53] #167 closed

[2022-01-21 14:32] kristerkari commented on #168
@vish2595 Did you actually get some error related to using this library? Nothing in the error log that you pasted points to that.

[2022-01-25 20:03] DwCleb commented on #167
Worked like a charm!
Also I needed to remove it from babel.config

[2022-01-26 10:40] tigerraj32 commented on #167
It worked. I spend half a day to resolve this solution until i reach here.

[2022-01-26 16:50] shllg commented on #131
Having the same issue and configured as described. Of course restarted everything. The import result will always be an empty object.

[2022-01-31 11:41] kristerkari commented on #168
Closing because of inactivity.

[2022-01-31 11:41] #168 closed

[2022-02-04 06:50] khanh21011999 commented on #168
I have same problem, anyone solve this?

[2022-02-04 07:08] khanh21011999 commented on #168
@kristerkari  Please open this, i face the same error when change the metro like the docs, default metro work but can't use the svg

Default metro
[code]

[2022-02-04 17:05] janlat commented on #45
Since SVGR v6.0.0, switching to named exports is just a matter of adding `exportType: 'named'` to your svgrrc file

[2022-02-05 23:56] ErickTucto opened #169 "Dont exists support to Expo v5 (typescript)"
My version expo
![imagen](https://user-images.githubusercontent.com/22831024/152662761-b7944b07-4495-4d83-bf1e-8a95a8677878.png)

Steps:
1. Create new expo project (use typescript)
![imagen](https://user-images.githubusercontent.com/22831024/152662791-9ae12c14-24ea-41b4-a2c0-5f5033207930.png)
2. Add SVGR and transformer with commands `npm install react-navite-svg` and `npm install -D react-native-

[2022-02-06 16:38] Fuchsoria commented on #169
Same for me

[2022-02-12 05:44] ngodangkhoa commented on #167
It worked, I spent couple day to fixing that. Thanks @kristerkari

[2022-02-14 02:32] jstnl opened #171 "Problem with metro.config.js file"
I have installed react-native-svg and react-native-svg-transformer and combined the metro config file as such:

[code]

However, I always get the following error:

[code]

I tried restarting with `npm start -- --reset-cache` and after playing around with the config file, I noticed that it was the async that was causing the issue. The variable couldn't be found since the parent function isn't await

[2022-02-14 17:57] kristerkari commented on #169
Thanks, I'll try it out and see if I can reproduce the error.

[2022-02-15 06:53] a7med-mahmoud opened #173 "Expected closing tag </head> to match opening tag <link>"
I get this error:
```ERROR  [Error: Expected closing tag </head> to match opening tag <link> (51:38).```

and the SVG file doesn't really have any `<head>` or `<link>` tags.

Here it is
[code]

[2022-02-19 09:15] charity-detalytics opened #174 "Simple Svg works on iOS but not on Android"
# Bug

Simple Svg works on iOS but not on Android
<img width="570" alt="Screen Shot 2022-02-19 at 16 04 44" src="https://user-images.githubusercontent.com/63986409/154794383-a6fa762b-16d3-4a98-a189-c2404a8f4773.png">

## Steps To Reproduce

I have just created this new and simple repo for reproducing the issue:
https://github.com/charity-detalytics/SrgErr

[code]

[code]

Describe what you expecte

[2022-02-21 09:14] ranshine opened #175 ""@fill" is not a valid color or brush"
I am using this library to show svg images. I am passing color to fill prop. In svg image i added @fill to fill, but it is not working and showing warning("@fill" is not a valid color or brush)

<svg width="306" height="167" viewBox="0 0 306 167" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect opacity="0.5" x="1.5" y="1.5" width="303" height="164" rx="4.5" stroke="black" stroke-width="3"/> <

[2022-02-23 08:22] a7med-mahmoud commented on #173
The problem wasn't related to your package although the stacktrace says so, it was an issue with rn svg's SvgUri

[2022-02-23 08:22] #173 closed

[2022-02-23 17:13] kristerkari commented on #174
I'm not sure why it looks different on Android and iOS, but it's the mask that is causing it not to render on Android.

[2022-02-28 11:55] kristerkari commented on #174
Closing this as solved.

[2022-02-28 11:55] #174 closed

[2022-03-01 12:22] Adnan-Bacic opened #176 "question - should we install "metro-config"?"
something i have been unsure about for a while. but when using `react-native-svg` and `react-native-svg-transformer`, the documentation imports something from metro-config, like so:

`const { getDefaultConfig } = require("metro-config");`

however neither documentation actually say you have to install `metro-config` first. when i search the project i see that `metro-config` is already a dependency

[2022-03-09 10:32] kristerkari commented on #176
I would recommend to use the version that comes shipped with `react-native`.

It might be that if you install your own version, `react-native` will anyway use it's own version instead of the one that you have installed.

[2022-03-10 08:10] #176 closed

[2022-03-17 11:29] sagarkm commented on #108
This worked for me as well.
Wonder why the nx react-native default project places metro.config.js within apps/my-app/.

[2022-03-19 01:41] EnzoPortela commented on #123
For me it works! Thanks!

[2022-03-23 20:13] joranb commented on #70
Would just mention my comment here: https://github.com/expo/expo/issues/6660#issuecomment-1076338873

There is someone who has fixed this issue in this unpublished package: https://github.com/HolovisSoftwareDev/react-native-svg-transformer-fix-expo

See my comment for an example.

I can confirm it then works with latest Expo, react-native-svg and react-native-svg-transfomer on web, iOS and Android

[2022-04-12 19:46] dev-andremonteiro commented on #148
I'm also experiencing this with the same stack, did you manage to get over it somehow ?

[2022-04-13 17:07] codeYard17 commented on #60
@taneba is it really worked! as it did not work for me

[2022-05-05 11:20] bkeph opened #177 "Config not working in monorepo containing multiple apps"
I have a _monorepo_ containing **multiple apps** managed through yarn workspaces, each with it's own `metro.config.js` file.

`
module.exports = (async () => {
  const {
    resolver: {sourceExts, assetExts},
  } = await getDefaultConfig();
  return {
    projectRoot: path.resolve(__dirname, "../../"),
    watchFolders: [path.resolve(__dirname, "../../")],
    transformer: {
      getTransformOpti

[2022-05-11 18:43] Dey-Sumit commented on #168
I am facing the exact same issue, please open this issue

[2022-05-12 11:55] kristerkari commented on #177
Thanks @bkeph ! I have to admit, that I don't have a lot of experience with working monorepos, so I can't provide you with any quick fix.

I'm suspecting that some of the config/transformer is not pointing to the correct folder, and is failing because of that.

Maybe you can check that is the file path for `babelTransformerPath` correct regarding the setup that you have?

[2022-05-12 13:25] sanketkheni01 commented on #148
same problem here too.

[2022-05-14 14:44] t3chcrazy commented on #148
@dev-andremonteiro No I couldn't, I had to replace them with png files

[2022-05-14 14:46] sanketkheni01 commented on #148
I solved it by switching to stack navigation from  native stack.

[2022-05-17 02:21] dev-andremonteiro commented on #148
Switching back to navigation stack from native stack worked for me.

[2022-05-27 07:17] kierancrown opened #178 "Cannot find module or its corresponding type declarations"
I seem to be getting some Typescript errors when importing a SVG. I have setup my `metro.config.js` and created a `declarations.d.ts` file as per the installation instructions.

I still seem to be getting the following error however:

[code]
I'm importing the svgs like this:
[code]

Here is my `metro.config.js`:

[code]

Here is my `declarations.d.ts`:

[code]

I'm using RN 0.68.1
I'm using react-

[2022-05-31 19:38] lockieluke commented on #171
same

[2022-06-08 15:53] MuhammadRafeh commented on #178
Yes, Same problem here

[2022-06-09 01:21] nabilcambiaso commented on #105
i'm using react-native-svg-transformer without using react-native-svg which i found very heavy in term of size,
so i can resize and change the stroke color also the fill color, but just instead of passing a fill prop, just pass color as seen below, it works perfectly

[code]

the svg code
`<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><title>profile</title><g fill="currentColor" clas

[2022-06-11 13:52] mzohrab commented on #178
You should include your `declarations.d.ts` in your `tsconfig.json` file. Like:
`"include": [..., "declarations.d.ts"]`

[2022-06-14 15:46] alexzobi commented on #60
@codeYard17 i have found that i have to restart my metro bundler and clear my cache by first killing my bundler instance then running `npx react-native start --reset-cache`